html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}


/* Typography
   ========================================================================== */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiBold.woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-ExtraBold.woff');
  font-weight: 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: 900;
  font-display: swap;
}

html {
  background: #FFFFFF;
  font-size: 12px;
  font-family: OpenSans;
}

body {
  padding-top: 61px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    padding-top: 62px;
  }
}

/* Container
   ========================================================================== */

.container, .minor-container {
  margin-left: 24px;
  margin-right: 24px;
}

@media (max-width: 500px) {
  .negative-container {
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media (min-width: 768px) {
  .container, .minor-container {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 1024px) {
  .minor-container {
    margin-left: calc((100% - 850px) / 2);
    margin-right: calc((100% - 850px) / 2);
  }
}

@media (min-width: 1200px) {
  .container {
    margin-left: 96px;
    margin-right: 96px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2);
  }
}

/* Utils
   ========================================================================== */

.desktop {
  display: none;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,p {
  margin: 0;
}

amp-img > img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px){
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}