.contact-section {
	margin-bottom: 80px;
}

.contact-section span {
	color: #7A7A7A;
	font-size: 12px;
}

.contact-section form  > span {
	font-size: 18px;
	text-align: center;
	display: block;
	font-weight: 700;
	color: #CC1582;
}

.contact-section span.hide {
	display: none;
}

.contact-section .contact-main-text {
	color: #3C3C3C;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 16px;
}

.contact-section .contact-email {
	width: 100%;
	border: none;
	color: #333333;
	font-size: 14px;
	outline: none;
	line-height: 20px;
	padding: 8px 12px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: #E3E8E9;
}

.contact-section .contact-submit {
	width: 100%;
	border: none;
	display: block;
	outline: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 900;
	cursor: pointer;
	margin-top: 15px;
	padding: 10px 20px;
	margin-right: auto;
	border-radius: 20px;
	text-transform: uppercase;
	background-color: #CC1582;
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.contact-section .contact-submit:hover {
	background-color: #ad0f6d;
}

.contact-section .message-success {
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	line-height: 1.4;
}

.contact-section .message-success a {
	color: #cc1582;
	text-decoration: underline;
}

@media(min-width: 768px) {
	.contact-section {
		margin-bottom: 50px;
		max-width: 850px;
		display: flex;
		align-items: flex-start;
	}
	
	.contact-section form {
		min-width: 400px;
	}
	
	.contact-section .contact-form-wrapper {
		display: flex;
		min-width: 400px;
		margin-left: 15px;
		align-items: center;
	}

	.contact-section .contact-email {
		margin-bottom: 0;
		border-radius: 15px;
		min-width: 230px;
	}
	.contact-section .contact-label span {
		bottom: -20px;
	}
	.contact-section .contact-submit {
		margin-left: 15px;
		margin-top: 0;
	}
	.contact-section .message-success {
		font-size: 24px;
	}
}
