footer {
	color: #FFFFFF;
	padding: 35px 0;
	text-align: left;
	font-size: 12px;
	background-color: #0C2646;
}

footer .footer-menus {
	display: flex;
	padding-bottom: 80px;
	margin-bottom: 40px;
	position: relative;
	justify-content: space-between;
}

footer .footer-menus .footer-menu-item {
	margin-bottom: 15px;
}

footer .footer-menus .footer-menu-item > p {
	color: #624DA0;
	font-weight: 900;
	font-size: 14px;
	margin-bottom: 5px;
	text-transform: uppercase;	
}

footer .footer-menus .menu-blog {
	position: absolute;
	top: 120px;
}

footer .footer-content {
	position: relative;
}

footer .footer-content::after{
    content: "";
    left: 50%;
    bottom: 0px;
    height: 1px;
    width: 100%;
    max-width: 850px;
    transform: translateX(-50%);
    position: absolute;
    background: linear-gradient(to right,rgba(198,198,198,0) 0%,#c6c6c6 13.54%,#c6c6c6 86.46%,rgba(198,198,198,0) 100%);
}

footer .footer-content .social-networks-wrapper {
	margin-bottom: 40px;
}

footer .footer-content .social-networks {
	display: flex;
	justify-content: center;
}

footer .footer-content .social-networks > a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
}

footer .footer-content .social-networks > a:hover {
	background: rgba(255,255,255,0.2);
	border-radius: 50%;
}

footer .footer-content .social-networks svg {
	display: block;
	margin: 0 10px;
	width: 20px;
	height: 20px;
}

footer .menu {
	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 30px;
}

footer .menu li {
	margin-bottom: 7px;
}

footer .menu a {
	color: #FFFFFF;
}

footer .menu a:hover {
	text-decoration: underline;
}

footer .footer-copyright {
	display: flex;
	text-align: center;
	align-items: center;
	margin-bottom: 40px;
	justify-content: space-between;
}

footer .footer-addresses {
	display: flex;
	justify-content: center;
}

footer .footer-addresses > span {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	display: flex;
	margin-right: 15px;
	align-items: center;
	justify-content: center;
	background-color: rgba(98, 77, 160, 0.4);
}

footer .footer-addresses p {
	margin-bottom: 15px;
}

footer .footer-addresses p span {
	font-weight: 1000;
	margin-bottom: 3px;
	display: inline-block;
	text-transform: uppercase;
}

@media(max-width: 767px){
	footer .footer-content, footer .footer-bottom {
		max-width: 320px;
		margin: 0 auto;
	}
}

@media(min-width: 768px){
	footer .footer-content {
		margin-bottom: 30px;
	}

	footer .footer-menus {
		flex-grow: 1;
		font-size: 13px;
		margin-bottom: 0;
		padding-bottom: 0;
		justify-content: center;
	}

	footer .footer-menu {
		margin-bottom: 0;
	}

	footer .footer-menu-item {
		margin-right: 40px;
		margin-bottom: 0;
	}

	footer .footer-menu-item:last-child {
		margin-right: 0;
	}

	footer .footer-menus .menu-blog {
		position: initial;
	}

	footer .footer-bottom {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		font-size: 12px;
	}

	footer .footer-copyright {
		text-align: left;
		margin-bottom: 0;
		margin-right: 30px;
	}

	footer .footer-copyright svg { 
		margin-right: 15px;
	}
	
	footer .footer-addresses-wrapper {
		display: flex;
		align-items: flex-start;
	}

	footer .footer-addresses-wrapper p {
		margin-right: 15px;
		margin-bottom: 0;
	}

	footer .footer-addresses > span {
		width: 40px;
		height: 40px;
		margin-right: 20px;
	}
}

@media(min-width: 1024px){
	footer .footer-menus { 
		justify-content: space-around;
	}

	footer .footer-content .social-networks-wrapper {
		margin-right: 50px;
	}

	footer .footer-content .social-networks {
		display: initial;
	}

	footer .footer-content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

}

.lp-popup {
	border-radius: 15px;
	overflow: hidden;
	position: fixed;
	top: 100px;
	left: 50%;
	width: 80%;
	z-index: 5;
	color: #ffffff;
	max-width: 600px;
	transform: translateX(-50%);
	padding:  100px 24px 50px;
	text-transform: uppercase;
}

.lp-popup:after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: -1;
	position: absolute;
	background:  linear-gradient(226.91deg, rgba(98, 77, 160, 0.2) 4.05%, #2A136D 95.04%);;
}

.lp-popup-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 2;
	opacity: 1;
	position: fixed;
	background-color: rgba(255,255,255,0.5);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.lp-popup.hidden ,
.lp-popup-overlay.hidden {
	opacity: 0;
	visibility: hidden ;
}

.lp-popup a {
	color: inherit;
}

.lp-popup .title {
	font-size: 20px;
	line-height: 33px;
	margin-bottom: 24px;
}

.lp-popup .title strong {
	font-weight: 1000;
}

.lp-popup .image {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	object-fit: cover;
	position: absolute;
}

.lp-popup .cta {
	font-size: 14px;
	padding: 10px 40px;
	border-radius: 15px;
	display: inline-block;
	text-transform: uppercase;
	border: solid 1px #ffffff;
}

.lp-popup .close-popup {
	top: 24px;
	right: 24px;
	cursor: pointer;
	position: absolute;
}

.lp-popup .close-popup svg {
	pointer-events: none;
}

@media(min-width: 768px){
	.lp-popup {
		padding: 200px 50px 100px;
	}

	.lp-popup .title {
		font-size: 24px;
	}
}
