.front-page-hero {
	overflow: hidden;
	padding-top: 290px;
	margin-bottom: 60px;
}

.front-page-hero .title {
	font-size: 36px;
	color: #0B2646;
	font-weight: 1000;
	line-height: 49px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.front-page-hero .description {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 45px;
}

.front-page-hero form {
	position: relative;
}

.front-page-hero form .message-success {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;
}

.front-page-hero form .message-success a {
	color: #cc1582;
	text-decoration: underline;
}

.front-page-hero .email-input {
	border: none;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
	background: #EBEBEB;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 6px 73px 6px 19px;
}

.front-page-hero .email-input-missing,
.front-page-hero .email-input-invalid {
	left: 5px;
	top: 40px;
	color: #7A7A7A;
	font-size: 12px;
	position: absolute;
	content: "* Este campo é obrigatório.";
}

.front-page-hero .email-input-missing.hide,
.front-page-hero .email-input-invalid.hide {
	display: none;
}

.front-page-hero .hero-cta {
	color: #ffffff;
	border: none;
	font-size: 14px;
	font-weight: 900;
	padding: 8px 60px;
	text-align: center;
	background: #CC1582;
	border-radius: 15px;
	display: inline-block;
	text-transform: uppercase;
}

.front-page-hero .section-down {
	color: #7A7A7A;
	margin: 0 auto;
	cursor: pointer;
	font-size: 12px;
	max-width: 146px;
	position: relative;
	line-height: 16px;
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.front-page-hero .section-down:after {
	left: 48%;
	content: '';
	width: 14px;
	height: 42px;
	bottom: -10px;
	cursor: pointer;
	display: block;
	position: relative;
	background-image: url('../images/anchor-down.svg');
}

.section-down-target {
	top: -90px;
	position: relative;
}

.page-layers-background {
	top: -75px;
	right: -15px;
	z-index: -1;
	position: fixed;
}

.page-layers-background .layer-1 {
	width: 200px;
	height: 400px;
	position: relative;
	display: inline-block;
	border-radius: 20px;
	box-sizing: border-box;
	border: 10px solid #F7F7F7;
}

.page-layers-background .layer-1:after {
	content: '';
	width: 10px;
	left: -10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	display: inline-block;
	animation: layer-1 4s infinite cubic-bezier(.4,.2,.2,1);
	background-color: #CC1582;
}

@keyframes layer-1 {
  0% {top: 150px;}
  50% {top: 250px;}
  100% {top: 150px;}
}

.page-layers-background .layer-2 {
	left: 10px;
    bottom: 70px;
	width: 200px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;
	border: 10px solid #F7F7F7;
	border-bottom-right-radius: 20px;
	border-top: none;
	border-left: none;
}

.page-layers-background .layer-3 {
	left: 10px;
	bottom: 10px;
	width: 104px;
	height: 135px;
	position: absolute;
	box-sizing: border-box;
	display: inline-block;
	border-top-right-radius:  20px;
	border: 1.5px solid rgba(136, 136, 136, 0.2);
	border-bottom: none;
	border-left: none;
}

.section-header .title {
	color: #0C2646;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.section-header .title strong {
	font-weight: 1000;
}

.section-header .description {
	font-size: 14px;
	line-height: 19px;
	color: #3C3C3C;
	margin-bottom: 48px;
}

@media(min-width: 768px) {
	.home .header {
		background-color: transparent;
	}
	.home .header .header-background {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		position: absolute;
		transform: translateY(-100%);
		background-color: #ffffff;
		transition: transform 0.3s cubic-bezier(.4,.2,.2,1);
	}
	.home .header:after {
		width: 0;
		transition: width 0.4s cubic-bezier(.78,.07,.2,1);
	}
	.home .header.extended:after {
		width: 75%;
	}
	.front-page-content {
		max-width: 450px;
		margin-right: auto;
	}
	.front-page-hero form {
		display: flex;
		margin-bottom: 60px;
		align-items: flex-start;
	}
	.front-page-hero form .email-input {
		min-width: 300px;
		line-height: 20px;
		margin-right: 15px;
		padding: 8px 73px 8px 19px
	}
	.front-page-hero form .hero-cta {
		padding: 10px 60px;
		cursor: pointer;
		transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
	}
	.front-page-hero form .hero-cta:hover {
		background-color: #ad0f6d;
	}
	.front-page-hero form .message-success {
		font-size: 20px;
	}
	.page-layers-background .layer-1 {
		width: 500px;
		height: 380px;
	}
	.page-layers-background .layer-2 {
		height: 300px;
		width: 380px;
    	top: 0px;
	}
	.page-layers-background .layer-3 {
		height: 200px;
		width: 180px;
		left: 10px;
		top: 170px;
	}
	.page-layers-background .layer-4 {
		height: 83px;
		width: 10px;
		left: 300px;
		top: 295px;
		position: absolute;
		display: inline-block;
		background-color: #F7F7F7;
	}
	.page-layers-background .layer-5 {
		left: 100px;
	    bottom: 2px;
	    z-index: 1;
		width: 400px;
		height: 235px;
		display: block;
		position: relative;
		box-sizing: border-box;
		border: 10px solid #F7F7F7;
		border-bottom-left-radius: 20px;
		border-top: none;
	}
	.page-layers-background .layer-5:before {
		content: '';
		width: 10px;
		top: -10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		display: inline-block;
		animation: layer-5-before 4s infinite cubic-bezier(.4,.2,.2,1);
		background-color: #CC1582;
	}
	@keyframes layer-5-before {
	  0% {left: 100px;}
	  50% {left: 200px;}
	  100% {left: 100px;}
	}
	.page-layers-background .layer-5:after {
		content: '';
		width: 10px;
		bottom: -10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		display: inline-block;
		animation: layer-5-after 4s infinite cubic-bezier(.4,.2,.2,1);
		background-color: #CC1582;
	}
	@keyframes layer-5-after {
	  0% {left: 100px;}
	  50% {left: 200px;}
	  100% {left: 100px;}
	}
	.page-layers-background .layer-6 {
		left: 330px;
	    bottom: 110px;
	    z-index: 1;
		width: 10px;
		height: 135px;
		display: block;
		position: absolute;
		background-color: #F7F7F7;
	}
	.page-layers-background .layer-7 {
		left: 260px;
	    bottom: 12px;
	    z-index: 1;
		width: 500px;
		height: 100px;
		display: block;
		position: absolute;
		box-sizing: border-box;
		border: 10px solid #F7F7F7;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom: none;
	}
	.section-header .title {
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 18px;
	}
	.section-header .description {
		font-size: 18px;
		line-height: 24px;
	}
}


@media(min-width: 1024px) {
	.front-page-content {
		max-width: 550px;
	}
	.front-page-hero {
		padding-top: 200px;
	}
	.front-page-hero .title {
		font-size: 64px;
		line-height: 87px;
	}
	.front-page-hero .description {
		font-size: 18px;
	}
	.page-layers-background {
		right: -60px;
	}
}

@media(min-width: 1200px) {
	.page-layers-background {
		right: -15px;
	}
	.page-layers-background .layer-1 {
		width: 650px;
	}
	.page-layers-background .layer-5 {
		width: 550px;
	}
	.page-layers-background .layer-8 {
		width: 150px;
		height: 10px;
		top: 250px;
		left: 380px;
		display: block;
		position: absolute;
		background-color: #F7F7F7;
	}
	.page-layers-background .layer-9 {
		top: 0;
		right: 0px;
		width: 180px;
		height: 460px;
		display: block;
		position: absolute;
		border-radius: 20px;
		background-color: #FFFFFF;
		box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
	}
	.page-layers-background .layer-10 {
		right: 0px;
		bottom: 10px;
		width: 280px;
		height: 180px;
		position: absolute;
		box-sizing: border-box;
		display: inline-block;
		border-top-left-radius:  20px;
		border: 1.5px solid rgba(136, 136, 136, 0.2);
		border-bottom: none;
		border-right: none;
	}
}

@media(min-width: 1300px) {
	.page-layers-background {
		right: -15px;
	}
	.page-layers-background .layer-1 {
		width: 700px;
	}
	.page-layers-background .layer-5 {
		width: 600px;
	}
}

@media(min-width: 1440px) {
	.page-layers-background .layer-1 {
		width: 50vw;
	}
	.page-layers-background .layer-5 {
		width: 45vw;
	}
	.page-layers-background .layer-8 {
		width: 30vw;
	}
	.page-layers-background .layer-9 {
		width: 280px;
	}
	.page-layers-background .layer-10 {
		width: 360px;
	}
}

/* Widgets */

.widget-popular-posts-wrapper {
	display: block;
	margin-bottom: 40px;
}

.newsletter-widget {
	margin-bottom: 40px;
}

.widget-popular-posts .widget-popular-posts-item {
	height: 200px;
	position: relative;
}

.widget-popular-posts .widget-popular-posts-item img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.newsletter-widget span.hide {
	display: none;
}

.newsletter-widget .single-post-wrapper > span {
    width: 100%;
    display: block;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

@media(min-width: 768px) {
	.newsletter-widget {
		margin-left: auto;
		margin-bottom: 50px;
		margin-right: auto;
		max-width: 850px;
	}
	.newsletter-widget .single-post-wrapper {
		display: flex;
		align-items: flex-start;
	}
	.newsletter-widget .newsletter-widget-second-text {
		line-height: 1.5;
	}
	.newsletter-widget .newsletter-form-wrapper {
		display: flex;
		min-width: 400px;
		margin-left: 15px;
		align-items: center;
	}
	.newsletter-widget .newsletter-widget-email {
		margin-bottom: 0;
		border-radius: 15px;
		min-width: 230px;
	}
	.newsletter-widget .newsletter-widget-label span {
		bottom: -32px;
	}
	.newsletter-widget .newsletter-widget-submit {
		margin-left: 15px;
		margin-top: 0;
	}
	.widget-popular-posts {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.widget-popular-posts-title {
		margin-left: auto;
		margin-right: auto;
		max-width: 850px;	
	}
	.widget-popular-posts .widget-popular-posts-item {
		flex-grow: 0;
		min-height: 220px;
		box-sizing: border-box;
		width: calc((100% - 30px) / 3 );
	}
}

