.grid-sidebar {
	display: flex;
	margin-bottom: 50px;
	flex-direction: column-reverse;
}

@media (min-width: 1024px) {
	.grid-sidebar {
		margin-bottom: 80px;
		display: flex;
		flex-direction: initial;
		align-items: flex-start;
	}

	.grid-sidebar .post-grid {
		margin-left: 0;
		margin-right: 0;
		flex-grow: 1;
	}

	.grid-sidebar .sidebar-widget {
		position: sticky;
		top: 80px;
		min-width: 300px;
		max-width: 300px;
		margin-left: 33px;
		display: flex;
		height: calc(100vh - 90px);
		min-height: 670px;
		max-height: 900px;
		flex-direction: column;
		margin-bottom: 100px;
	}
}

@media (min-width: 1250px) {
	.grid-sidebar .sidebar-widget {
		min-width: 350px;
		max-width: 350px;
		min-height: 620px;
	}
}

/* Search Parge */
@media (max-width: 1023px) {
	.search .grid-sidebar {
		flex-direction: column;
	}
}