.grid-pagination {
	position: relative;
	margin-top: 15px;
	height: 80px;
} 

.grid-pagination .grid-pagination-numbers {
	left: 50%;
	display: flex;
	bottom: 0;
	color: #7a7a7a;
	line-height: 2;
	font-size: 16px;
	font-weight: 900;
	position: absolute;
	align-items: center;
	justify-content: center;
	transform: translateX(-40%);
}

.grid-pagination .grid-pagination-numbers .grid-pagination-link-wrapper:hover {
	color: #ad0f6d;
	opacity: 0.5;
}

.grid-pagination .grid-pagination-numbers .grid-pagination-link-wrapper.current:hover {
	color: #ad0f6d;
	opacity: 1;
}

.grid-pagination .grid-pagination-link-wrapper {
	margin: 0 12px;
	cursor: pointer;
    transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
}

.grid-pagination .grid-pagination-link-wrapper span {
	outline: none;
}

.grid-pagination .grid-pagination-link-wrapper.current {
	color: #CC1582;
}


.grid-pagination .grid-pagination-arrow.next {
	top: 0;
	right: 0;
	color: #CC1582;
	font-weight: 900;
	padding: 8px 16px 8px 16px;
	outline: none;
	position: absolute;
	border-radius: 24px;
	background-color: #FFFFFF;
	text-transform: uppercase;
    transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.grid-pagination .grid-pagination-arrow.next:hover {
	color: #ad0f6d;
	padding-right: 26px;
}

.grid-pagination .grid-pagination-arrow.next span::after {
	content: '';
	width: 15px;
	left: 10px;
	height: 15px;
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
	background-image: url('../images/right-arrow-pink.svg');
}

.grid-pagination .grid-pagination-arrow.next:hover span::after {
	left: 20px;
}

.grid-pagination .grid-pagination-arrow.prev {
	top: 0;
	left: 0;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	outline: none;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.grid-pagination .grid-pagination-arrow.prev span::after {
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../images/left-arrow-pink.svg');
}

@media(min-width: 768px) {
	.grid-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.grid-pagination .grid-pagination-arrow.prev,
	.grid-pagination .grid-pagination-arrow.next, 
	.grid-pagination .grid-pagination-numbers {
		position: initial;
		transform: initial;
	}

	.grid-pagination .grid-pagination-numbers {
		margin: 0 54px;
	}
}