.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
	background-color: #ffffff;
	padding: 5px 0;
}

.header:after {
	content: "";
	left: 50%;
	bottom: 0px;
	height: 1px;
	width: 75%;
	max-width: 850px;
	transform: translateX(-50%); 
	position: absolute;
	background: linear-gradient(to right,rgba(198, 198, 198, 0) 0%, #C6C6C6 13.54% ,#C6C6C6 86.46% , rgba(198, 198, 198, 0) 100%);
}

.header .header-wrapper{
	display: flex;
	position: relative; 
	align-items: center;
	justify-content: space-between;
}

.header .logo svg {
	width: 70px;
	height: 49px;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'OpenSans';
}

.header .menu-button,
.header .contact-button {
	cursor: pointer;
	outline: none;
}

.header .menu-button.hidden {
	display: none;
}

.header .menu-button svg,
.header .menu-button.close svg,
.header .contact-button svg {
	 width: 24px;
	 height: 24px;
}

.header .menu-open {
	position: absolute;
	width: 100%;
	top: 61px;
	padding: 20px 0 0;
	box-sizing: border-box;
	background-color: #ffffff;
	transition: all 0.15s ease-in;
	max-height: calc(100vh - 61px);
	overflow-y: auto;
	visibility: visible;
}

.header .menu-open.hidden {
	opacity: 0;
	visibility: hidden;
}

.header .menu-open .menu-nav a {
	display: block;
	color: #3C3C3C;
	outline: none;
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 2rem;
	text-decoration: none;
	text-transform: uppercase;
}

.header .menu-open ul {
	text-align: left;
	font-weight: 300;
	font-size: 16px;
}

.header .menu-open ul.close {
	display: none;
}

.header .menu-open ul.open {
	display: block;
}

.header .menu-open .alice-card {
	color: #ffffff;
}

.header .menu-open .solutions-menu {
	padding: 24px;
	font-size: 16px;
	color: #ffffff;
	position: relative;
	background-color: #624DA0;
}

.header .menu-open .solutions-menu:before {
	content: '';
	top: 0;
	right: 0;
	width: 337px;
	opacity: 0.5;
	height: 121px;
	display: block;
	position: absolute;
	pointer-events: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/header-layer.svg');
}

.header .menu-open .solutions-menu .title {
	font-weight: 900;
	margin-bottom: 20px;
	position: relative;
	padding-right: 30px;
	text-transform: uppercase;
}

.header .menu-open .solutions-menu .title:after {
	content: '';
	top: 5px;
	right: 0;
	width: 14px;
	height: 9px;
	display: block;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/down-arrow-white.svg');
}

.header .menu-open .solutions-menu .description {
	text-align: right;
	padding-left: 40px;
	margin-bottom: 30px;
	max-width: 250px;
	margin-left: auto;
}

.header .menu-open .solutions-menu .read-more {
	color: #FFFFFF;
	display: block;
	font-size: 15px;
	text-align: right;
	font-weight: 900;
	position: relative;
	text-transform: uppercase;
}

.header .menu-open .solutions-items {
	font-size: 16px;
	position: relative;
	padding: 24px 24px 12px;
	background-color: #564495;
	border-top: 1px solid rgba(255, 255, 255, 0.2);;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}

.header .menu-open .solutions-items .title {
	font-size: 12px;
	color: #DDCFF3;
	font-weight: 1000;
	margin-bottom: 22px;
	text-transform: uppercase;
}

.header .menu-open .solutions-items-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
	align-items: center;
}

.header .menu-open .solution-item {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 15px;
	box-sizing: border-box;
	padding: 12px 30px 12px 16px;
	width: calc((100% - 20px)/2);
}

.header .menu-open .solution-item:hover {
	border-radius: 15px;
	background-color: #6956AB;
}

.header .menu-open .cta-menu {
	padding: 24px;
	text-align: center;
	background-color: #624DA0;
}

.header .menu-open .cta-menu a {
	color: #FFFFFF;
	padding: 10px 30px;
	font-weight: 900;
	border-radius: 15px;
	display: inline-block;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
}

.header .header-cta {
	display: none;
}

.header .menu-open .header-card {
	display: none;
}

@media (max-width: 767px) {
	.header .menu-open .solutions-menu .title {
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.header {
		padding: 0;
	}

	.header .menu-main-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.header .menu-main li {
		cursor: pointer;
		padding: 22px 30px 22px 30px;
	}

	.header .menu-main a {
		color: #3C3C3C;
		font-weight: 900;
		font-size: 14px;
		position: relative;
		padding-bottom: 2px;
		text-transform: none;
		text-transform: uppercase;
	}

	.header .menu-main .current-menu-item a {
		color: #CC1582;
	}

	.header .menu-main li.current-menu-item a:after {
		content : "";
		left    : 0;
		bottom  : 0;
		width   : 75%; 
		position: absolute;
		border-bottom: 2px solid #CC1582;
	}

	.header .menu-main a:after {
		content : "";
		left    : 0;
		bottom  : -2px;
		width   : 0%; 
		position: absolute;
		border-bottom: 2px solid #CC1582;
		transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
	}

	.header .menu-main li:hover a:after {
		width   : 75%; 
	}

	.header .menu-main ul {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	.menu-main .solutions-hover {
		position: relative;
	}

	.amp-mode-mouse .menu-main .solutions-hover a {
		pointer-events: none;
	}
	
	.menu-main .solutions-hover:after {
		content: '';
		top: 25px;
		right: 6px;
		width: 20px;
		height: 15px;
		display: block;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/down-arrow.svg');
	}

	.header .menu-open {
		top: 62px;
		display: flex;
		padding-top: 0;
	}
	.header .menu-open .solutions-menu,
	.header .menu-open .solutions-items {
		min-width: 50%;
		border-bottom: none;
		box-sizing: border-box;
	}
	.header .menu-open .solutions-menu:before {
		top: -50px;
		right: -90px;
	}
	.header .menu-open .solutions-menu .description {
		max-width: 240px;
		padding-top: 77px;
		margin-bottom: 24px;
	}
	.header .menu-open .alice-card {
		display: block;
		max-width: 320px;
		margin-left: auto;
		text-align: right;
		padding-bottom: 24px;
	}
	.header .menu-open .alice-card .read-more:after {
		content: "";
		right: 0;
		bottom: 0;
		width: 0%;
		position: absolute;
		border-bottom: 2px solid #FFFFFF;
		transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
	}
	.header .menu-open .alice-card:hover .read-more:after {
		width: 70%;
	}
	.header .menu-open .solutions-menu .read-more {
		display: inline-block;
		padding-bottom: 5px;
	}
	.header .menu-open .solutions-items {
		margin-left: 0;
		padding-left: 50px;
		padding-bottom: 35px;
	}
	.header .menu-open .solutions-items .title {
		margin-bottom: 8px;
	}
	.header .menu-open .solution-item {
		margin-bottom: 0;
	}

	.header .menu-open .header-card {
	    left: 48px;
		flex-grow: 1;
		max-width: 320px;
	    width: calc(100% - 320px);
	    height: calc(100% - 48px);
	    box-sizing: border-box;
	    position: absolute;
	    text-align: right;
	    overflow: hidden;
	    border-radius: 15px;
	}

	.header .menu-open .header-card img ,
	.header .menu-open .header-card amp-img > img {
		top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    position: absolute;
	    transition: transform cubic-bezier(.4,.2,.2,1) 0.3s;
	}

	.header .menu-open .header-card:hover img {
	    transform: scale(1.1,1.1);
	}

	.header .menu-open .header-card-content {
	    z-index: 1;
		width: 100%;
		height: 100%;
	    display: flex;
	    position: relative;
	    box-sizing: border-box;
	    justify-content: flex-end;
	    align-items: flex-end;
	    flex-direction: column;
	    padding: 15px 15px 25px 40px;
		background: linear-gradient(180deg, rgba(98, 77, 160, 0.23) 0%, rgba(16, 0, 64, 0.8) 100%);
	}

	.header .menu-open .header-card-content p {
		color: #ffffff;
		margin-top: 15px;
	}

	.header .menu-open .header-card .read-more:after {
		content: "";
		right: 0;
		bottom: 0;
		width: 0%;
		position: absolute;
		border-bottom: 2px solid #FFFFFF;
		transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
	}

	.header .menu-open .header-card:hover .read-more:after {
		width: 70%;
	}

}

@media(max-width: 1024px) {
	.header .menu-main li:last-of-type {
		padding-right: 0;
	}
}

@media(min-width: 1024px) {
	.header .header-cta {
		display: block;
		color: #FFFFFF;
		font-size: 14px;
		font-weight: 900;
		padding: 10px 25px;
		border-radius: 15px;
		background-color: #CC1582;
		text-transform: uppercase;
	    transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
	}
	.header .header-cta:hover {
		background-color: #ad0f6d;
	}
	.header .menu-open .header-card {
		display: block;
	}

}

@media(min-width: 1440px) {
	.header .menu-open .header-card {
		left: 0;
		margin-left: calc((100vw - 1200px) / 2);
	}
	.header .menu-open .solutions-items-wrapper {
		max-width: 550px;
		justify-content: space-between;
	}
	.header .menu-open .solution-item {
		width: calc((100% - 100px)/2);
		margin-right: 50px; 		
	}
}

/* Common Bar
   ========================================================================== */

.common-bar-wrapper {
	background-color: #FFFFFF;
}

.common-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* Breadcrumbs
   ========================================================================== */

.breadcrumbs {
  top: 65px;
  padding: 15px 0;
  background-color: #FFFFFF;
  font-size: 14px;
  z-index: 1;
}

.breadcrumbs a {
  color: #3C3C3C;
}

.breadcrumbs .breadcrumbs-separator {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .breadcrumbs {
    top: 88px;
  }
}

/* Search Form
   ========================================================================== */

 .top-search-form,
 .searched-query {
	cursor: pointer;
 	position: relative;
 	width: 320px;
 }

.top-search-form .input-text {
  width: 100%;
  color: #7A7A7A;
  border: none;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 6.5px 50px 8.5px 14px;
}

.top-search-button{
  width: 30px;
  height: 20px;
  position: absolute;
  top: 9.5px;
  right: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.top-search-form input::-webkit-input-placeholder {
  color: #7A7A7A;
}

.top-search-form input::-moz-placeholder {
  color: #7A7A7A;
}

.top-search-form input:-ms-input-placeholder {
  color: #7A7A7A;
}

.top-search-form input::-ms-input-placeholder {
  color: #7A7A7A;
}

.top-search-form input::placeholder {
  color: #7A7A7A;
}

.top-search-form .search-svg {
  width: 12px;
  height: 12px;
  top: 12px;
  right: 22px;
	outline: none;
  display: flex;
  position: absolute;
  pointer-events: none;
}

.top-search-form .clean-search {
	top: 11px;
	right: 0px;
	width: 13px;
	height: 13px;
	display: flex;
	outline: none;
	position: absolute;
}

.top-search-form .search-svg svg,
.top-search-form .clean-search svg { 
	width: 12px;
	height: 12px;
	pointer-events: none;
}

/* Alternative Header
   ========================================================================== */

.menu-open.alternative .alice-card .sector {
	display: none;	
}

@media (min-width: 768px) {

	.header .menu-open.alternative {
		min-height: initial;
		overflow-y: initial;	
	}
	
	.menu-open.alternative .solutions-menu {
		min-width: 100%;
		display: flex;
		padding: 0;
	}

	.menu-open.alternative .solutions-menu:before {
		content: initial
	}

	.menu-open.alternative .solutions-menu .description {
		max-width: 300px;
	}

	.menu-open.alternative .header-card {
		left: initial;
		height: 100%;
		max-width: initial;
		position: relative;
		border-radius: 0;
		width: calc(100% / 3);
		margin-left: 0;
		display: block;
	}

	.menu-open.alternative .header-card.desktop {
		display: none;
	}

	.menu-open.alternative .header-card .sector {
		font-size: 12px;
		font-weight: 800;
		padding: 3px 20px;
		border-radius: 15px;
		display: inline-block;
		text-transform: uppercase;
		border: 1px solid #ffffff;
	}

	.menu-open.alternative .header-card-content {
		padding-right: 40px;;
	}

	.menu-open.alternative .header-card-content p {
		max-width: 300px;
	}

	.menu-open.alternative .alice-card:before {
		content: '';
		top: -50px;
		right: 0;
		width: 337px;
		opacity: 0.5;
		height: 121px;
		display: block;
		position: absolute;
		pointer-events: none;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/header-layer.svg');
	}

	.menu-open.alternative .alice-card {
		margin: 0;
		position: relative;
		max-width: initial;
		width: calc(100% / 3);
		box-sizing: border-box;
		padding: 15px 40px 25px 40px;
	}

	.menu-open.alternative .solutions-menu .description {
		padding-top: 15px;
		margin-bottom: 15px;
	}

	.menu-open.alternative .alice-card .sector {
		margin-top: 70px;
		font-size: 12px;
		font-weight: 800;
		padding: 3px 20px;
		border-radius: 15px;
		display: inline-block;
		text-transform: uppercase;
		border: 1px solid #ffffff;
	}
}

@media (min-width: 1024px) {
	.menu-open.alternative .header-card.desktop {
		display: block;
	}
}