body {
    padding-top: 0;
}

.header {
    background: transparent;
    transition: all 0.6s cubic-bezier(.06,.68,1,.42);
}

footer .footer-content {
    display: none;
}

.header:after {
    display: none;
}

.header .header-cta {
    cursor: pointer;
}

.header .header-wrapper {
    justify-content: center;
}

.section-down-target {
    top: -80px;
    position: relative;
}

/* Utils */


.itera-lp .section-tab {
	color: #CC1582;
	font-size: 14px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 25px solid #CC1582;
}

.itera-lp .section-title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.itera-lp .section-title strong {
	font-weight: 1000;
}

.itera-lp .section-description {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 45px;
}


@media(min-width: 768px) {
	.itera-lp .section-title {
		font-size: 32px;
		line-height: 46px;
	}
	.itera-lp .section-description {
		font-size: 18px;
		line-height: 1.4;
	}
	.itera-lp .section-tab {
		font-size: 16px;
		border-left-width: 42px;
	}
}


/* Header Bar */

.header .header-bar {
    top: 0;
    width: 100%;
    position: fixed;
    transition: inherit;
    transform: translateY(-200%);
    background-color: #ffffff;
}

.header .header-bar .header-links {
    display: flex;
    flex-direction: column;
}

.header .header-bar .header-links.desktop {
    display: none;
}

.header .header-bar .header-links option {
    font-size: 14px;
    line-height: 19px;
    color: #0C2646;
}

.header-links.mobile {
    position: relative;
}

.header-links select {
    display: none;
}

.header .header-links.mobile .select-selected {
    color: #CC1582;
    padding: 18px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid #CC1582;
}

.header .header-links.mobile .select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 16px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/lp-arrow-down.svg);
}

.header .header-links.mobile .select-items div {
    color: #0C2646;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
}

.header .header-links.mobile .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 1px 2px #b7b6b6;
}

.header .header-links.mobile .select-hide {
    display: none;
}

@media(min-width: 768px) {
    .header .header-wrapper .header-cta {
        background: transparent;
        border: 1px solid #FFFFFF;
    }

    .header .header-wrapper .header-cta:hover {
        background: #ad0f6d;
        border: 1px solid #ad0f6d;
        transition: all 0.4s cubic-bezier(.78,.07,.2,1);
    }

    .header .header-wrapper {
        padding: 5px 0;
        transition: inherit;
        justify-content: space-between;
    }
    .header .header-bar {
       box-shadow: 0px 0px 2px #d7d7d7;
    }
    .header .header-bar-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .header .header-bar .header-links.mobile {
        display: none;
    }
    .header .header-bar .header-links.desktop {
        display: flex;
        flex-grow: 1;
        margin-right: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
    .header .header-bar .header-links a {
        font-size: 14px;
        color: #0C2646;
        max-width: 133px;
        line-height: 19px;
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
    }
    .header .header-bar .header-links a.active {
        color: #CC1582;
        font-weight: 900;
        border-bottom: 2px solid #CC1582;
    }

}

/* LP Hero */

.lp-hero {
    position: relative;
    padding-bottom: 10px;
    background-color: #624DA0;
}

.lp-hero .hero-layers {
    top: 0;
    left: 0;
    text-align: right;
    overflow: hidden;
    position: absolute;
}

.lp-hero .hero-layers svg {
    width: 100%;
    height: 400px;
}

.lp-hero .hero-content {
    color: #ffffff;
	margin-bottom: 130px;
    padding-top: 150px;
    opacity: 0;
    animation: 1.5s ease-out 0.5s 1 appearTitle forwards;
}

.lp-hero .hero-sub-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 44px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.lp-hero .hero-title {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 40px;
    text-transform: uppercase;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: translateY(30%);
    transition: none;
}

.lp-hero .hero-title.selected {
    opacity: 1;
    position: initial;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.6s ease-out;
}

.lp-hero .hero-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 50px;
}

.lp-hero .section-down {
    left: 50%;
	bottom: 0px;
	color: #FFFFFF;
    margin: 0 auto 15px;
    cursor: pointer;
    font-size: 12px;
    max-width: 146px;
    position: absolute;
    line-height: 16px;
    text-align: center;
    padding-bottom: 10px;
	transform: translatex(-50%);
    text-transform: uppercase;
}

.lp-hero .section-down:after {
    left: 48%;
    content: '';
    width: 14px;
    height: 42px;
    bottom: -10px;
    cursor: pointer;
    display: block;
    position: relative;
    background-image: url('../images/anchor-down-white.svg');
}

.lp-hero .hero-cta {
    opacity: 1;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    max-width: 325px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 21px 25px;
    border-radius: 15px; 
    background-color: #CC1582;
    text-transform: uppercase;
    transition: all 0.4s cubic-bezier(.78,.07,.2,1);
}

.lp-hero .hero-cta.hidden {
    opacity: 0;
}

@keyframes appearTitle {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media(max-width: 767px) {
    .lp-hero .hero-cta {
        left: 50%;
        width: max-content;
        bottom: 20px;
        z-index: 2;
        position: fixed;
        transform: translateX(-50%);
    }
}

@media(min-width: 768px) {
    .lp-hero .hero-layers {
        right: 0;
        left: initial;
    }
    .lp-hero .hero-content {
        padding-top: 170px;
    }
    .lp-hero .hero-sub-title {
        font-size: 32px;
    }
    
    .lp-hero .hero-title {
        font-size: 60px;
    }
    .lp-hero .hero-description {
        font-size: 24px;
    }
    .lp-hero .hero-layers svg {
        height: auto;
    }
    .lp-hero .section-down {
        bottom: 80px;
    }

}

@media(min-width: 1024px) {
    .lp-hero {
        height: 100vh;
        min-height: 640px;
        max-height: 750px;
    }
	.lp-hero .hero-content {
        max-width: 650px;
		margin-bottom: 0;
	}
    .lp-hero .hero-cta {
        display: none;
    }
}


/* Sections Icons */

section .section-icons .item-icon {
    display: flex;
    width: 270px;
    margin: 0 auto 50px;
    display: none;
}

.default-version .section-icons .item-icon.page-version-default {
    display: flex;
}

section .section-icons .icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: contain;
}

section .section-icons .icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: contain;
}

section .section-icons .icon svg {
    width: 100%;
    height: 100%;
}

section .section-icons .text {
    font-weight: 1000;
    font-size: 14px;
    line-height: 19px;
    color: #344154;
    max-width: 200px;
    text-transform: uppercase;
}

@media(min-width: 768px) {
    section .section-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section .section-icons .item-icon {
        width: 330px;
        margin: 0 0 50px
    }
}

@media(min-width: 1024px) {
    section .section-icons {
        padding: 0 60px;
    }
    section .section-icons .item-icon {
        width: 275px;
    }
}
/* Section 1 */

.section-1 {
    padding-top: 50px;
}

.section-1 .section-image {
    position: relative;
    overflow: hidden;
    min-height: 200px;
    opacity: 0;
    animation: 1.5s ease-out 0.5s 1 appearSection forwards;
}

@keyframes appearSection {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.section-1 .section-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, #FFFFFF 72.92%, #FFFFFF 100%);
}

.section-1 .section-image img {
    width: 100%;
    padding: 0 10px 10px;
    box-sizing: border-box;
    filter: drop-shadow(0px -1px 10px rgba(0, 0, 0, 0.1));
}

.section-1 .section-image .swiper-button-next,
.section-1 .section-image .swiper-button-prev {
    width: 35px;
    height: 35px;
    display: flex;
	z-index: 2;
    border-radius: 50%;
    background-color: #CC1582;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.section-1 .section-image .swiper-button-next:after,
.section-1 .section-image .swiper-button-prev:after {
    color: #FFFFFF;
    font-size: 15px;
}


@media(min-width: 1024px) {
    .section-1 {
        top: -80px;
        position: relative;
        padding-top: 0px;
    }  
    .section-1 .section-header {
        top: -150px;
        z-index: 1;
        position: relative;
    }
    .section-1 .section-icons {
        top: -100px;
        padding: 0 60px;
        position: relative;
    }
}

@media(min-width: 1300px) {
    .section-1 .section-header {
        top: -190px;
    }
}

/* Section 2 */

.section-2 {
    margin-bottom: 100px;
}

.section-2 .images-section {
    margin-bottom: 50px;
}

.section-2 .section-side.left {
    color: #3B3B3B;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    text-transform: uppercase;
}
.section-2 .section-side.right {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    position: relative;
    text-transform: uppercase;
    background: #624DA0;
}

.section-2 .section-side.right svg {
    top: 50%;
    left: 0;
    position: absolute;
}

.section-2 .images-section .section-side {
    padding: 36px 0 69px;
    text-align: center;
}

.section-2 .section-side .section-wrapper .title {
    margin-bottom: 25px;
}

.section-2 .section-side.right img {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 10px solid #FFFFFF;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
}

.section-2 .section-side.left .image svg {
    width: calc(100% + 24px);
}

@media(min-width: 768px) {
    .section-2 .images-section {
        display:flex;
    }
    .section-2 .images-section .section-side {
        width: 50%;
        text-align: left;
    }
    .section-2 .section-side.right {
        border-radius: 15px 0px 0px 15px;
    }
    .section-2 .section-side .section-wrapper .title {
        max-width: 350px;
    }
    .section-2 .section-side.left .image svg {
        width: calc(100% + 64px)
    }
}   

@media(min-width: 1024px) {
    .section-2 .section-side.left .section-wrapper {
        margin-right: 70px;
    }
    .section-2 .section-side.right .section-wrapper {
        margin-left: 70px;
    }
    .section-2 .section-side.left .image svg {
        width: calc(100% + 120px)
    }
}

@media(min-width: 1440px) {
    .section-2 .section-side.left .section-wrapper {
        width: 530px;
        margin-left: auto;
    }
    .section-2 .section-side.right .section-wrapper {
        width: 580px;
        margin-right: 0;
        margin-left: 150px;
    }
    .section-2 .section-side.left .image svg {
        width: 700px;
        height: 210px;
    }
}


/* Section 3 */

.section-3 {
    margin-bottom: 100px;
}

.section-3 .images-section {
    margin-bottom: 50px;
}

.section-3 .section-side.left {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    text-transform: uppercase;
    background: #624DA0;
}

.section-3 .section-side.right {
    color: #3B3B3B;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    text-transform: uppercase;
}

.section-3 .images-section .section-side {
    padding: 36px 0 69px;
}

.section-3 .section-side .image svg {
    width: calc(100% + 24px);
    height: auto;
}

.section-3 .section-side.right .image svg {
    position: relative;
    right: 24px;
}

.section-3 .section-side .section-wrapper .title {
    margin-bottom: 36px;
}

.section-3 .items-pre-text {
    font-size: 16px;
    line-height: 1.4;
    color: #3C3C3C;
    margin-bottom: 50px;
}

@media(min-width: 768px) {
    .section-3 .images-section {
        display:flex;
    }
    .section-3 .images-section .section-side {
        width: 50%;
        text-align: left;
    }
    .section-3 .section-side .section-wrapper .title {
        max-width: 400px;
    }
    .section-3 .section-side.left {
        border-radius: 0px 15px 15px 0px;
    }
    .section-3 .section-side.left .image svg {
        width: calc(100% + 48px);
    }
    .section-3 .section-side.right .image svg {
        right: 48px;
        width: calc(100% + 48px);
    }
    .section-3 .items-pre-text {
        font-size: 18px;
    }
}   

@media(min-width: 1200px) {
    .section-3 .section-side.left .image svg {
        width: calc(100% + 96px);
    }
    .section-3 .section-side.right .image svg {
        right: 96px;
        width: calc(70% + 96px);
    }
}

@media(min-width: 1440px) {
    .section-3 .section-side.right .section-wrapper {
        width: 600px;
        margin-left: 0;
        margin-right: auto;
    }
    .section-3 .section-side.left .section-wrapper {
        width: 600px;
        margin-right: 26px;
        margin-left: auto;
    }
    .section-3 .section-side.right .section-wrapper .title {
        padding-left: 150px;
    }
    .section-3 .section-side.right .image svg {
        right: 0;
        top: 50px;
        width: 80%;
    }
}


/* Section 4 */

.section-4 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 100px;
    position: relative;
}

.section-4 .section-image {
    left: 0;
    height: 300px;
    max-width: 400px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    border-radius: 9px;
    margin-bottom: 50px;
    object-position: right top;
    width: calc(100% - 42px);
    border-left: none;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    filter: drop-shadow(0px 5px 15px rgba(0,0,0,.2));
}

.section-4 .section-image:after{
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    background: linear-gradient(360deg, rgba(98, 77, 160, 0.268) -2.34%, rgba(204, 21, 130, 0.048) 104.3%);
}

.section-4 .section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(min-width: 768px) {
    .section-4 .section-image {
        top: 0;
        right: 0;
        width: 300px;
        height: 400px;
        position: absolute;
    }
    .section-4 .section-header {
        margin-left: auto;
        width: calc(100% - 350px - 48px);
    }
}

@media(min-width: 1024px) {
    .section-4 .section-image {
        max-width: initial;
        width: calc(100% - calc((100% - 850px)/2) - 580px);
    }
    .section-4 .section-header {
        width: 500px;
    }
}



/* Companies Section */

.companies-section {
    margin-bottom: 100px;
}

.companies-section .section-title {
    margin-bottom: 80px;
}

/* FAQ Section */

.faq {
    margin-bottom: 100px;
}

.faq .faq-question {
    cursor: pointer; 
    font-size: 14px;
    line-height: 1.4;
    color: #3C3C3C;
    padding: 24px 50px 24px 50px;
    background: #EFF0F0;
    border-radius: 15px;
    margin-bottom: 24px;
    position: relative;
}

.faq .faq-question:after {
    content: '';
    width: 15px;
    height: 10px;
    top: 30px;
    left: 20px;
    position: absolute;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/lp-arrow-down.svg);
}

.faq .faq-question.selected:after {
    background-image: url(../images/lp-arrow.svg);
}

.faq .faq-answer{
    display: none; 
    font-size: 14px;
    line-height: 1.4;
    color: #3C3C3C;
    margin-bottom: 35px;
}

@media(min-width: 768px) {
    .faq .faq-question {
        font-size: 18px;
        padding-left: 100px;
    }
    .faq .faq-question:after {
        left: 40px;
        width: 20px;
    }
    .faq .faq-answer{
        font-size: 18px;
    }
}

/* Secion 5 */

.section-5 .images-section {
    margin-bottom: 50px;
}

.section-5 .section-side.left {
    color: #3B3B3B;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    text-transform: uppercase;
}
.section-5 .section-side.right {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 1000;
    line-height: 22px;
    text-transform: uppercase;
    background: #624DA0;
}

.section-5 .images-section .section-side {
    padding: 36px 0 69px;
    text-align: center;
}

.section-5 .section-side .section-wrapper .title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.section-5 .section-side.right .item-icon .text {
    color: #FFFFFF;
} 

@media(min-width: 768px) {
    .section-5 .images-section {
        display:flex;
    }
    .section-5 .images-section .section-side {
        width: 50%;
        text-align: left;
    }
    .section-5 .section-side.right {
        border-radius: 15px 0px 0px 15px;
    }
    .section-5 .section-side .section-wrapper .title {
        max-width: 350px;
    }
}   

@media(min-width: 1024px) {
    .section-5 .section-side .section-icons {
        padding: 0;
    }  
    .section-5 .section-side.left .section-wrapper {
        margin-right: 70px;
        padding-left: 50px;
    }
    .section-5 .section-side.right .section-wrapper {
        margin-left: 70px;
        padding-left: 100px;
    }
}

@media(min-width: 1440px) {
    .section-5 .section-side.left .section-wrapper {
        width: 450px;
        padding-left: 0;
        margin-left: auto;
    }
    .section-5 .section-side.right .section-wrapper {
        width: 430px;
        padding-left: 0;
        margin-right: 0;
        margin-left: 250px;
    }
}

/* Popup */

.popup-overlay {
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
	opacity: 1;
    z-index: 2;
	position: fixed;
	visibility: visible;
	background-color: rgba(255,255,255,0.5);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.download-popup.hidden,
.popup-overlay.hidden {
	opacity: 0;
	visibility: hidden;
}

.download-popup {
	top: 90px;
	opacity: 1;
	z-index: 10;
	position: fixed;
	visibility: visible;
	border-radius: 15px;
	background: #F6F6F6;
    padding: 24px;
    max-width: calc(100% - 48px);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.download-popup .close-popup {
	top: 24px;
	right: 24px;
	cursor: pointer;
	position: absolute;
}

.download-popup .tab {
	color: #CC1582;
	font-size: 16px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 45px solid #CC1582;
}

.download-popup .title {
	font-size: 24px;
	color: #0B2646;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: 1000;
	text-transform: uppercase;
}

.download-popup .description {
	font-size: 14px;
	line-height: 19px;
    color: #3C3C3C;
    margin-bottom: 20px;
}

.download-popup img {
	display: none;
}

.download-popup .newsletter-widget {
    margin-bottom: 0;
}

.download-popup .input-checkbox {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
	align-items: center;
	margin-bottom: 25px;
}

.download-popup .input-checkbox input {
	width: auto;
	opacity: 0;
	margin-bottom: 0;
	margin-right: 17px;
	position: relative;
	border-radius: 15px;
}

.download-popup .input-checkbox span {
	top: 0;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	border-radius: 4px;
	pointer-events: none;
	box-sizing: border-box;
	border: 1px solid #CC1582;
}

.download-popup select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}

.download-popup .select-input:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 22px;
    width: 16px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/lp-arrow-down.svg);
}

.newsletter-widget .newsletter-widget-label span {
    bottom: 5px;
    font-size: 11px;
}

.newsletter-widget .newsletter-widget-label span.hide {
    display: none;
}

.download-popup .input-checkbox input:checked + span:after {
	content: '';
	width: 7px;
	height: 7px;
	left: 3px;
	top: 3px;
	display: block;
	border-radius: 2px;
	position: absolute;
	background-color: #CC1582;
}

.download-popup .input-checkbox label {
	display: flex;
	color: #3C3C3C;
	font-size: 12px;
	align-items: center;
}

@media(min-width: 450px) {
	.download-popup {
		left: 50%;
		margin: 0;
		width: 350px;
		transform: translateX(-50%);
	}
}

@media(min-width: 768px) {
	.download-popup {
		padding: 0;
		width: 700px;
		display: flex;
	}

	.download-popup .popup-content {
        max-width: 60%;
		padding: 50px;
        box-sizing: border-box;
	}

	.download-popup img {
        max-height: 715px;
        display: block;
        width: 100%;
		border-radius: 15px;
        object-fit: cover;
	}
    
    .download-popup .popup-image {
        width: 40%;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
    }

	.download-popup .popup-image:after {
	    content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(360deg, rgba(98, 77, 160, 0.67) -2.34%, rgba(204, 21, 130, 0.12) 104.3%);
		position: absolute;
		z-index: -1;
		top: 0;
		z-index: 1;
	}
	
	.page-template-itera-lp .download-popup-form.newsletter-widget .newsletter-form-wrapper {
		display: initial;
	}

	.page-template-itera-lp .download-popup-form.newsletter-widget .newsletter-widget-email {
		margin-bottom: 25px;
	}
	
	.page-template-itera-lp .download-popup-form.newsletter-widget .newsletter-widget-submit {
		margin-left: 0;
	}
	
	.page-template-itera-lp .download-popup-form.newsletter-widget .newsletter-widget-label span {
		bottom: 8px;
	}
}

@media(min-width: 1024px) {
	.download-popup {
		top: 80px;
		width: 900px;
    }
    .download-popup .popup-content {
        max-width: 50%;
        box-sizing: border-box;
	}
    .download-popup .popup-image {
        width: 50%;
    }
    .download-popup img {
        max-height: 690px;
    }

}