.newsletter-widget {
	color: #3C3C3C;
	position: relative;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 40px;
}

.newsletter-widget .newsletter-widget-main-text {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 16px;
}

.newsletter-widget .newsletter-widget-main-text span {
	color: #CC1582;
}

.newsletter-widget .newsletter-widget-second-text {
	margin-bottom: 16px;
	letter-spacing: 0.2px;
	font-size: 14px;
}

.newsletter-widget .newsletter-widget-label {
	position: relative;
	display: block;
}

.newsletter-widget .newsletter-widget-label span {
	position: absolute;
	bottom: 2px;
	left: 0;
	font-size: 12px;
	color: #7A7A7A;
}

.newsletter-widget .newsletter-widget-email {
	border: none;
	color: #333333;
	font-size: 14px;
	outline: none;
	padding: 8px 12px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: #E3E8E9;
	width: 100%;
	line-height: 20px;
	margin-bottom: 20px;
}

.newsletter-widget .newsletter-widget-submit {
	width: 100%;
	border: none;
	display: block;
	outline: none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
	margin-top: 15px;
	padding: 9px 40px;
	margin-right: auto;
	border-radius: 20px;
	text-transform: uppercase;
	background-color: #CC1582;
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.newsletter-widget .newsletter-widget-submit:hover {
	background-color: #ad0f6d;
}

.newsletter-widget .newsletter-widget-message {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.newsletter-widget .newsletter-widget-message.success {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.newsletter-widget .newsletter-widget-message.success a,
.newsletter-widget .message-success a {
	color: #cc1582;
	text-decoration: underline;
}

.newsletter-widget .message-success {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.newsletter-widget .newsletter-widget-message.error {
	color: #7A7A7A;
	margin-top: 15px;
	font-size: 20px;
}

.newsletter-widget .newsletter-widget-message .tracking-pixel{
	position: absolute;
}

@media(min-width: 768px) {
	.newsletter-widget .newsletter-widget-message.success {
		font-size: 22px;

	}
	.newsletter-widget .message-success {
		font-size: 20px;
	}
}