.about-us main {
	overflow: hidden;
}

.about-us .page-hero {
	padding: 180px 0;
	position: relative;
	background:  linear-gradient(158.92deg, #CC1582 -1.52%, #624DA0 62.21%);
}

.about-us .page-hero:after {
	content: '';
	top: -20px;
	width: 100%;
	left: -10px;
	opacity: 0.15;
	display: block;
	padding-top: 100%;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/layer-logo.svg);
}

.about-us .page-hero .hero-title {
	z-index: 2;
	color: #ffffff;
	font-size: 30px;
	line-height: 1.4;
	text-align: left;
	font-weight: 1000;
	margin-bottom: 16px;
	position: relative;
	text-transform: uppercase;
}

.about-us .page-hero .hero-description {
	font-size: 16px;
	color: #ffffff;
	line-height: 1.4;
	letter-spacing: 0.2px;
}

.about-us .section-tab {
	color: #CC1582;
	font-size: 14px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 25px solid #CC1582;
}

.about-us .section-title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.about-us .section-title strong {
	font-weight: 1000;
}

.about-us .section-description {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 45px;
}

@media(min-width: 768px) {
	.about-us .page-hero .hero-title {
		font-size: 36px;
		max-width: 700px;
	}
}

/* Timeline */

.about-us .timeline-section {
	z-index: 2;
	padding-top: 250px;
	position: relative;
}

.about-us .timeline-section .timeline-thumbnail {	
	top: -120px;
	right: 0;
	width: 360px;
	height: 300px;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	position: absolute;
	background: linear-gradient(360deg, rgba(98, 77, 160, 0.67) -2.34%, rgba(204, 21, 130, 0.12) 104.3%);
}

.about-us .timeline-section .timeline-thumbnail img {
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}	

.about-us .timeline-tabs-container {
	display: flex;
	margin-bottom: 17px;
	justify-content: space-between;
}

.about-us .timeline-tabs-container .tab {
	color: #3B3B3B;
	font-size: 16px;
	cursor: pointer;
	font-weight: 1000;
	line-height: 22px;
}

.about-us .timeline-tabs-container .tab.selected {
	color: #CC1582;
}

.about-us .timeline-carousel-progressbar {
	background-color: #E5E5E5;
}

.about-us .timeline-carousel-progressbar span {
	height: 5px;
	display: block;
	background-color: #CC1582;
	transform: translateX(-100%);
	transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
}

.about-us .timeline-carousel {
	background-color: #FAFAFA;
	border-bottom: 1px solid #EBEBEB;	
}

.about-us .timeline-carousel-container {
	overflow: hidden;
	padding-top: 12px;
	position: relative;
	padding-bottom: 25px;
}

.about-us .timeline-section .timeline-icon {
	width: 90px;
	height: 90px;
	padding: 20px;
	border-radius: 50%;
	margin: 0 auto 21px;
	box-sizing: border-box;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.about-us .timeline-section .timeline-icon img {
	width: 100%;
}

.about-us .timeline-section .timeline-title {
	color: #0C2646;
	font-size: 14px;
	font-weight: 1000;
	line-height: 19px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.about-us .timeline-section .timeline-description {
	color: #3C3C3C;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 36px;
}

.about-us .timeline-section .timeline-cta {
	color: #CC1582;
	font-size: 14px;
	font-weight: 900;
	line-height: 19px;
	position: relative;
	padding-bottom: 2px;
	align-items: flex-end;
	text-transform: uppercase;
}

.about-us .timeline-section .timeline-cta:after {
	content : "";
	left    : 0;
	bottom  : 0;
	width   : 75%; 
	position: absolute;
	border-bottom: 2px solid #CC1582;
}

.about-us .timeline-section .swiper-button-next,
.about-us .timeline-section .swiper-button-prev {
	top: 50px;
	width: 35px;
	height: 35px;
}

.about-us .timeline-section .swiper-button-next:after ,
.about-us .timeline-section .swiper-button-prev:after {	
	color: #7A7A7A;
	font-size: 25px;
}

@media(min-width: 768px) {
	.about-us .page-hero:after {
		width: 50%;
		bottom: 0;
		top: initial;
		padding-top: 38%;
	}
	.about-us .section-title {
		font-size: 32px;
		line-height: 46px;
	}
	.about-us .section-description {
		font-size: 18px;
		line-height: 1.4;
	}
	.about-us .section-tab {
		font-size: 16px;
		border-left-width: 42px;
	}
	.about-us .timeline-section-wrapper {
		top: -80px;
		position: relative;
		min-height: 200px;
		border-radius: 15px;
		background-color: #fff;
	}
	.about-us .timeline-section {
		padding-top: 0px;
		padding-bottom: 100px;
		top: -200px;
		overflow: hidden;
		z-index: 2;
	}
	.about-us .timeline-section .timeline-thumbnail {
		top: 0px;
		right: -48px;
		height: 250px;
		width: calc(100% - 460px);
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	.about-us .timeline-section .timeline-header {
		max-width: 400px;
		padding-left: 48px;
	}
	.about-us .timeline-tabs-container .tab:first-child {
		margin-right: 200px;
	}
	.about-us .timeline {
		z-index: -2;
	}
	.about-us .timeline-carousel {
		padding-top: 36px;
		padding-bottom: 40px;
		position: relative;
	}
	.about-us .timeline-carousel-container {
		padding-left: 15px;
	}
	.about-us .timeline-carousel-progressbar {
		z-index: -2;
		position: relative;
	}
	.about-us .timeline-section .swiper-slide {
		display: flex;
	}
	.about-us .timeline-section .timeline-icon {
		margin: 0 40px 0 0;
		min-width: 100px;
		min-height: 100px;
	}
	.about-us .timeline-section .swiper-button-next,
	.about-us .timeline-section .swiper-button-prev {
		display: none;
	}
}

@media(min-width: 1024px) {
	.about-us .page-hero:after {
		width: 50%;
		bottom: 0;
		top: initial;
		height: 380px;
		width: 500px;
		padding-top: initial;
	}
	.about-us .page-hero:before {
		top: -140px;
		right: 0;
		width: 50%;
		content: '';
		height: 125%;
		width: 650px;
		display: block;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../images/about-us-layers.svg');
	}
	.about-us .page-hero .hero-description {
		max-width: 800px;
	}
	.about-us .timeline-section .timeline-header {
		max-width: 550px;
		padding-left: 0;
	}
	.about-us .timeline-section .timeline-thumbnail {
		height: 600px;
		width: calc(100% - 670px);
	}
	.about-us .timeline-tabs-container,
	.about-us .timeline-carousel-container {
		margin-right: 0;
		max-width: calc(500px + calc((100% - 850px) / 2) );
	}
	.about-us .timeline {
		position: relative;
	}
}


@media(min-width: 1100px) {
	.about-us .timeline-section .timeline-thumbnail {
		width: calc(250px + calc((100% - 850px) / 2) );
	}
}

@media(min-width: 1440px) {
	.about-us .page-hero:before {
		top: -130px;
	}
	.about-us .page-hero::after {
		width: 580px;
		height: 410px;
	}
	.about-us .timeline-tabs-container,
	.about-us .timeline-carousel-container {
		max-width: 760px;
	}
}



/* Seção de Inovação */

.inovation-section {
	position: relative;
	margin-bottom: 96px;
}

.inovation-section .inovation-icons {
	position: relative;
	right: 0px;
	top: -25px;
	z-index: 2;
}

.inovation-section .inovation-icons svg {
	width: 100%;
}

.inovation-section .cta-contact {
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	line-height: 18px;
	margin: 11px auto 0;
	text-align: center;
	padding: 9px 30px;
	font-weight: 900;
	border-radius: 20px;
	box-sizing: border-box;
	background-color: #CC1582;
	text-transform: uppercase;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
}

.inovation-section .cta-contact:hover {
	background-color: #ad0f6d;
}

.inovation-section .cta-blog {
	color: #CC1582;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 8px 30px;
	font-weight: 900;
	border-radius: 20px;
	display: inline-block;
	box-sizing: border-box;
	background-color: #FFFFFF;
	text-transform: uppercase;
	border: 1px solid #CC1582;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
}

.inovation-section .cta-blog:hover {
	color: #FFFFFF;
	background-color: #CC1582;
}

@media(min-width: 430px) {
	.inovation-section .cta-contact {
		margin: 22px 0 0;
		width: max-content;
	}
}

@media(min-width: 768px) {
	.inovation-section {
		top: -150px;
		overflow: hidden;
		margin-bottom: 150px;
	}
	.inovation-section .inovation-icons {
		top: 42px;
		right: -25px;
		position: absolute;
	}
	.inovation-section .inovation-icons svg {
		height: auto;
	}
	.inovation-section  .inovation-header {
		max-width: calc(100% - 400px);

	}
}

@media(min-width: 1024px) {
	.inovation-section  .inovation-header {
		max-width: calc(100% - calc(100% - 850px) - 320px);
	}
	.inovation-section .inovation-icons {
		right: 0;
		width: 380px;
		height: auto;
		top: 5px;
	}
}

@media(max-width: 1023px) {
	.inovation-section.container {
		margin-right: 0;
		margin-left: 0;
	}

}

@media(min-width: 1300px) {
	.inovation-section  .inovation-header {
		max-width: 600px;
	}
	.inovation-section .inovation-icons {
		width: 400px;
	}
}


/* Seção de Tecnologia */

.technology-section .technology-container {
	overflow: hidden;
	max-width: 500px;
	margin: 0 auto 60px;
 	padding-bottom: 300px;
}

.technology-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  background: #fff
  padding: 10px;
  box-sizing: border-box;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.technology-section .swiper-slide img {
	width: 100%;
	object-fit: contain;
}

.technology-section .swiper-container-3d .swiper-slide-shadow-left,
.technology-section .swiper-container-3d .swiper-slide-shadow-right {
	background-image: none;
}

.technology-section .swiper-slide .slide-icon {
	padding: 20px;
	width: 120px;
	min-width: 120px;
	height: 120px;
	min-height: 120px;
	display: flex;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.technology-section .swiper-slide .swiper-slide-content {
	top: 90px;
	z-index: -1;
	opacity: 0;
	border-radius: 15px;
	max-width: 350px;
	position: absolute;
	box-sizing: border-box;
	padding: 60px 24px 24px;
	width: calc(100vw - 140px);
	transition: all cubic-bezier(.4,.2,.2,1) 0.1s;
}

.technology-section .swiper-slide.swiper-slide-active .swiper-slide-content {
	opacity: 1;
}

.technology-section .swiper-slide .swiper-slide-content .title {
	color: #CC1582;
	font-weight: 900;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
}

.technology-section .swiper-slide .swiper-slide-content .description {
	color: #3C3C3C;
	margin: 0;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
}

.technology-section .technology-container .swiper-button-next:after ,
.technology-section .technology-container .swiper-button-prev:after {
	color: #7A7A7A;
	font-size: 20px;
}

@media(max-width: 767px) {
	.technology-section .technology-container-wrapper {
		margin: 0;
	}
	.technology-section .technology-container:after {
		content: '';
		height: 300px;
		left: 70px;
		top: 70px;
		max-width: 360px;
		position: absolute;
		border-radius: 15px;
		width: calc(100vw - 145px);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
	}
}

@media(min-width: 768px) {
	.technology-section {
		position: relative;
		top: -150px;
	}
	.technology-section .technology-container {
		padding: 0 30px;
		max-width: initial;
	}
	
	.technology-section .swiper-wrapper {
		display: flex;
		justify-content: space-between;
		max-width: initial;
	}

	.technology-section .technology-container .swiper-slide {
		display: flex;
		height: initial;
		align-items: center;
		flex-direction: column;
		width: calc((100% - 60px) / 4);	
	}

	.technology-section .swiper-slide .swiper-slide-content {
		top: -35px;
		height: 100%;
		width: initial;
		opacity: initial;
		position: relative;
		border-radius: 15px;
		box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
	}
	.technology-section .technology-container .swiper-button-prev {
		left: -7px;
	}
	.technology-section .technology-container .swiper-button-next {
		right: -7px;
	}
	.technology-section .technology-section .technology-see-more {
		max-width: 400px;
		margin: 0 auto 120px;
	}
}

@media(min-width: 900px) {
	.technology-section .technology-container {
		padding: 0;
	}
}

@media(min-width: 1300px) {
	.technology-section .technology-container-wrapper {
		--swiper-navigation-size: none;
	}
	.technology-section .technology-container {
		padding: 0 15px;
	}
	.technology-section .technology-container .swiper-slide {
		width: calc((100% - 180px) / 4);	
	}
	.technology-section .technology-container .swiper-button-next:after ,
	.technology-section .technology-container .swiper-button-prev:after {
		display: none;
	}
}

/* Contact Section */

@media(min-width: 768px) {
	.about-us .contact-section {
		top: -100px;
		position: relative;
		margin-bottom: 0;
	}
}

/* Common Section */
.page-template-page-about-us .common-bar { 
	position: absolute;
}

.page-template-page-about-us .common-bar .breadcrumbs,
.page-template-page-about-us .common-bar .breadcrumbs a {
	color: #FFFFFF;
	background: transparent;
}