/* Common Section */
.page-template-page-alice .common-bar { 
	position: absolute;
}

.page-template-page-alice .common-bar .breadcrumbs,
.page-template-page-alice .common-bar .breadcrumbs a {
	color: #FFFFFF;
	background: transparent;
}

/* Utils */

.section-down-target {
	top: 20px;
	position: relative;
}

.alice .section-tab {
	color: #CC1582;
	font-size: 14px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 25px solid #CC1582;
}

.alice .section-title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.alice .section-title strong {
	font-weight: 1000;
}

.alice .section-description {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 45px;
}


@media(min-width: 768px) {
	.alice .section-title {
		font-size: 32px;
		line-height: 46px;
	}
	.alice .section-description {
		font-size: 18px;
		line-height: 1.4;
	}
	.alice .section-tab {
		font-size: 16px;
		border-left-width: 42px;
	}
}

/* Page Hero */

.alice .page-hero {
	color: #FFFFFF;
	padding-top: 220px;
	position: relative;
	padding-bottom: 40px;
	background-color: #624DA0;
}

.alice .page-hero:after {
	top: 0px;
	right: 0;
	width: 50%;
	content: '';
	width: 60%;
	height: 200px;
	display: block;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/alice-layers.svg);
}

.alice .page-hero .hero-title {
	font-size: 30px;
	line-height: 41px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.alice .page-hero .hero-title strong {
	font-weight: 1000;
}

.alice .page-hero .hero-description {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 48px;
}

.alice .solutions-links {
	padding: 18px 0 26px;
	border: 1px solid #7a7a7a;
	border-left: none;
	border-right: none;
	background-color: rgba(78, 78, 78, 0.3);
}

.alice .solutions-links .title {
	color: #DDCFF3;
	font-size: 12px;
	padding-left: 20px;
	line-height: 16px;
	font-weight: 1000;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.alice .solutions-links-wrapper {
	position: relative;
}

.alice .solutions-links .solutions {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 25px;
	align-items: flex-start;
	justify-content: space-between;
}

.alice .solutions-links .solution-item {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 15px;
	padding: 10px 20px;
	width: calc((100% - 100px) / 2);
}

.alice .solutions-links .solution-item:hover {
	border-radius: 15px;
	background-color: #6956AB;
}

.alice .solutions-links .see-solutions {
	right: 0;
	bottom: 0;
	font-weight: 900;
	text-align: right;
	color: #ffffff;
	position: absolute;
	font-size: 15px;
	text-transform: uppercase;
}

@media(min-width: 768px){
	.alice .page-hero {
		margin-bottom: 0;
		padding-top: 180px;
		padding-bottom: 180px;
	}
	.alice .page-hero:after {
		width: 814px;
		top: -50px;
		height: 255px;
	}
	.alice .page-hero .hero-title {
		font-size: 36px;
		line-height: 49px;
	}
	.alice .page-hero .hero-description {
		margin-bottom: 0;
	}
	.alice .solutions-links {
		padding-bottom: 0;
	}
	.alice .solutions-links .solutions {
		margin-bottom: 130px;
	}
	.alice .solutions-links .solution-item {
		font-size: 14px;
		width: calc((100% - 150px) / 3);
	}
}


@media(min-width: 1024px){
	.alice .page-hero:after {
		width: 814px;
		top: -110px;
		height: 255px;
	}
	.alice .solutions {
		justify-content: flex-start;
	}
	.alice .solutions-links .solution-item {
		margin-right: 25px;
		box-sizing: border-box;
		width: calc((100% - 75px) / 4);
	}

	.alice .solutions-links .solution-item:nth-child(4n) {
		margin-right: 0;
	}
}

/* Reading Section */

.alice .reading-section {
	position: relative;
}

.alice .reading-section .section-icons {
	top: -70px;
	max-width: 400px;
	margin-left: auto;
	position: relative;
}

.alice .reading-section .section-icons svg {
	width: 100%;
	height: auto;
}

.alice .reading-section .section-icons img {
	height: 350px;
	right: -42px;
	object-fit: cover;
	position: relative;
	border-radius: 9px;
	object-position: left;
	width: calc(100% - 42px);
	border: 10px solid #fff;
	border-right: none;
	box-sizing: border-box;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

@media(min-width: 768px) {
	.alice .reading-section {
		top: -100px;
		min-height: 650px;
		position: relative;
	}
	.alice .reading-section .section-icons {
		top: -20px;
		right: 0px;
		max-width: 300px;
		position: absolute;
	}
	.alice .reading-section .section-icons img {
		width: calc(100% - 42px);
	}
	.alice .reading-section .section-icons svg {
		width: 276px;
	}
	.alice .reading-section-wrapper {
		top: -80px;
		position: relative;
		min-height: 120px;
		border-radius: 15px;
		background-color: #fff;
	}

	.alice .reading-section-wrapper .section-down {
		color: #7A7A7A;
		margin: 0 auto;
		cursor: pointer;
		font-size: 12px;
		max-width: 146px;
		position: relative;
		line-height: 16px;
		text-align: center;
		padding-bottom: 10px;
		padding-top: 20px;
		text-transform: uppercase;
	}

	.alice .reading-section-wrapper .section-down:after {
		left: 48%;
		content: '';
		width: 14px;
		height: 42px;
		bottom: -10px;
		cursor: pointer;
		display: block;
		position: relative;
		background-image: url('../images/anchor-down.svg');
	}
	.alice .reading-header {
		padding-top: 120px;
		width: calc(100% - 350px);
	}
}

@media(min-width: 1024px) {
	.alice .reading-section {
		min-height: 550px;
	}
	.alice .reading-header {
		width: calc(100% - 250px - calc(100% - 850px));
	}
	.alice .reading-section .section-icons {
		right: -96px;
		max-width: initial;
		width: calc(100% - 442px - calc(100% - 850px));
	}
}

@media(max-width: 1199px) {
	.alice .reading-section .section-icons {
		margin-right: 0;
	}
}

@media(min-width: 1440px) {
	.alice .reading-section .section-icons {
		right: -75px;
		width: 490px;
		max-width: initial;
	}
	.alice .reading-section .section-icons img {
		border-radius: 9px;
		width: 100%;
		border-right: 10px solid #fff;
	}
}

/* Comprehension Section */
 
.alice .comprehension-section {
	position: relative;
	margin-bottom: 80px;
}

.alice .comprehension-section .comprehension-layers {
	padding: 0 20px 20px;
	position: relative;
	text-align: right;
}

.alice .comprehension-section .comprehension-layers > svg {
	top: -30px;
	display: block;
	margin-left: auto;
	position: relative;
	max-width: 220px;
}

.alice .comprehension-section .comprehension-layers:after {
	content: '';
	right: 40px;
	width: 246px;
	height: 124px;
	bottom: 110px;
	position: relative;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../images/alice-reading-4.png');
}

.alice .comprehension-section .comprehension-layers:before {
	content: '';
	z-index: 1;
	right: 205px;
	bottom: 169px;
	width: 52px;
	height: 52px;
	position: absolute;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/alice-reading.gif');
}

.alice .comprehension-section .layer-absolute {
	position: absolute;
	bottom: 0;
	right: 110px;
	z-index: -1;
}

.alice .comprehension-cards .comprehension-card {
	max-width: 300px;
	display: flex;
	margin: 0 auto 36px;
	align-items: center;
	flex-direction: column;
}

.alice .comprehension-cards .comprehension-icon {
	padding: 20px;
	width: 120px;
	min-width: 120px;
	height: 120px;
	z-index: 1;
	min-height: 120px;
	display: flex;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.alice .comprehension-cards .comprehension-icon img {
	width: 100%;
	object-fit: contain;
}

.alice .comprehension-cards .comprehension-card-content {
	top: -35px;
	height: 100%;
	width: initial;
	opacity: initial;
	position: relative;
	border-radius: 15px;
	padding: 60px 24px 24px; 
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.alice .comprehension-cards .comprehension-card .title {
	color: #CC1582;
	font-weight: 900;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.alice .comprehension-cards .comprehension-card .description {
	color: #3C3C3C;
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}

@media(min-width: 768px) { 
	.alice .comprehension-section .comprehension-header{
		min-height: 430px;
		width: calc(100% - 380px);
	}

	.alice .comprehension-section .comprehension-layers {
		position: absolute;
		right: 0;
		top: 100px;
	}
	.alice .comprehension-section .comprehension-layers > svg {
		top: -90px;
		max-width: initial;
	}
	.alice .comprehension-cards {
		display: flex;
	}
}

@media(min-width: 1024px) {
	.alice .comprehension-section .comprehension-header{
		min-height: initial;
		width: calc(100% - calc(100% - 850px) - 250px);
	}
	.alice .comprehension-cards .comprehension-card {
		margin: 0 50px 0 0;
		max-width: 250px;
	}
	.alice .comprehension-section .comprehension-layers {
		height: 600px;
	}
	.alice .comprehension-section .comprehension-layers::after {
		bottom: 200px;
		right: 60px;
		position: absolute;
	}
	.alice .comprehension-section .comprehension-layers::before {
		bottom: 240px;
	}
	.alice .comprehension-section .comprehension-layers > svg {
		top: 0;
		right: 10px;
	}
}

@media(max-width: 1439px) {
	.alice .comprehension-section .comprehension-layers {
		margin-right: 0;
	}
}

/* Learning Section */

.alice .learning-section {
	position: relative;
	margin-bottom: 100px;
}

.alice .learning-section img {
	left: 0px;
	height: 300px;
	max-width: 400px;
	object-fit: cover;
	position: relative;
	border-radius: 9px;
	margin-bottom: 50px;
	object-position: left top;
	width: calc(100% - 42px);
	border: 10px solid #fff;
	border-left: none;
	box-sizing: border-box;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

@media(min-width: 768px) {
	.alice .learning-section {
		margin-bottom: 150px;
	}
	.alice .learning-section .learning-header {
		margin-left: auto;
		width: calc(100% - 350px - 48px);
	}

	.alice .learning-section img {
		top: 0;
		right: 0;
		width: 300px;
		height: 400px;
		position: absolute;
	}
}

@media(min-width: 1024px) {
	.alice .learning-section .learning-header {
		width: 500px;
	}
	.alice .learning-section img {
		max-width: initial;
		width: calc(100% - calc((100% - 850px) / 2) - 580px);
	}
}

@media(max-width: 1439px) {
	.alice .learning-section {
		margin-left: 0;
	}
}

@media(min-width: 1440px) {
	.alice .learning-section img {
		border-radius: 9px;
		border-left: 10px solid #fff;
	}
}

/* Implementation Section */

.alice .implementation-section {
	margin-bottom: 60px;
}

.alice .implementation-section .implementation-icons {
	display: flex;
	margin-bottom: 64px;
	justify-content: space-between;
}

.alice .implementation-section .item-icon {
	width: 105px;
	height: 105px;
	display: flex;
	font-size: 12px;
	border-radius: 50%;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}


.alice .implementation-section .item-icon img {
	width: 100%;
	height: auto;
}

@media(min-width: 400px) {
	.alice .implementation-section .item-icon {
		width: 120px;
		height: 120px;
	}
}

@media(min-width: 450px) and (max-width: 1023px) {
	.alice .implementation-section .implementation-icons {
		max-width: 400px;
		margin: 0 auto 64px;
	}
}

@media(min-width: 768px) {
	.alice .implementation-section {
		position: relative;
	}

	.alice .implementation-header {
		width: calc(100% - 410px);
	}

	.alice .implementation-section .implementation-icons {
		right: 40px;
		top: 50px;
		position: absolute;
	}

	.alice .implementation-section .item-icon {
		left: 90px;
		top: 145px;
		width: 150px;
		height: 150px;
		font-size: 14px;
		position: relative;
	}


	.alice .implementation-section .item-icon:first-child {
		top: 30px;
		left: 90px;
		bottom: initial;
	}

	.alice .implementation-section .item-icon:last-child {
		right: 0px;
		bottom: -10px;
		position: initial;
	}
}

@media(min-width: 1024px) {
	.alice .implementation-header {
		width: calc(100% - calc(100% - 850px) - 330px);
	}
	.alice .implementation-section .implementation-icons {
		right: 0px;
		top: 10px;
	}
	.alice .implementation-section .item-icon {
		width: 150px;
		height: 150px;
	}
}

@media(min-width: 1440px) {
	.alice .implementation-section {
		margin-bottom: 200px;
	}
	.alice .implementation-section .implementation-icons {
		right: 50px;
	}
}

/* Solutions Section */

.alice .solutions-section .solutions-filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

.alice .solutions-filter .filter-item {
	color: #0C2646;
	font-size: 16px;
	display: flex;
	cursor: pointer;
	padding: 7px 20px 7px 12px;
	line-height: 22px;
	position: relative;
	margin-bottom: 20px;
	align-items: center;
	box-sizing: border-box;
	width: calc((100% - 35px)/2);
}

.alice .solutions-filter .filter-item:hover {
	color: #624DA0;
	border-radius: 15px;
	background: #F6F6F6;
}

.alice .solutions-filter .filter-item:hover:after {
	right: 10px;
	width: 20px;
	height: 20px;
	content: '';
	position: absolute;
	border-radius: 50%;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
}

.alice .solutions-filter .filter-item.selected {
	background: #F6F6F6;
	border-radius: 15px;
}

.alice .solutions-filter .filter-item.selected:after{
	right: 11px;
	width: 20px;
	height: 20px;
	content: '';
	position: absolute;
	background-size: contain;
	background-image: url('../images/solutions-filter-selected.svg');
}

.alice .solutions-filter .filter-item.selected:hover:after {
	right: 10px;
	width: 20px;
	height: 20px;
	content: '';
	position: absolute;
	background-size: contain;
	background-color: transparent;
	background-image: url('../images/solutions-filter-unselect.svg');
}

.alice .solutions-posts-wrapper {
	display: block;
	margin-bottom: 40px;
}

.alice .solutions-posts  .solutions-posts-item {
	height: 200px;
	position: relative;
	flex-grow: 1;
	display: flex;
	text-align: right;
	overflow: hidden;
	border-radius: 15px;
	align-items: flex-end;
	margin-bottom: 12px;
	padding: 15px 15px 30px 40px;
	background: linear-gradient(180deg, rgba(98, 77, 160, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.alice .solutions-posts .solutions-post-title {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;
}


.alice .solutions-posts .solution-post-category {
	padding: 5px 25px;
	font-weight: 1000;
	text-align: center;
	font-size: 12px;
	margin-bottom: 20px;
	border-radius: 15px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	display: inline-block;
	color: #ffffff;
}
.alice .solutions-posts .read-more {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	position: relative;
	font-weight: 900;
	padding-bottom: 4px;
}

.alice .solutions-posts .read-more:after {
    content: "";
    right: 0;
    bottom: 0;
    width: 0%;
    position: absolute;
    border-bottom: 2px solid #FFFFFF;
    transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
}

.alice .solutions-posts-item:hover .read-more:after {
	width: 80%;
}

.alice .solutions-posts .solutions-posts-item .solution-content {
	margin-left: auto;
}

.alice .solutions-posts .solutions-posts-item img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	position: absolute;
	object-fit: cover;
	transition: transform cubic-bezier(.4,.2,.2,1) 0.3s;
}

.alice .empty-posts {
	display: flex;
	max-width: 400px;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #0C2646;
	margin: 50px auto;
}

.alice .empty-posts svg {
	display: inline-block;
	margin-right: 35px;
	min-width: 80px;
	min-height: 80px;
}

@media(max-width: 767px) {
	.alice .solutions-posts .solutions-posts-item:nth-child(3) {
		display: none;
	}
}

@media(min-width: 768px) {
	.alice .solutions-filter .filter-item {
		padding-right: 30px;
		width: calc((100% - 150px) / 3 );
	}
	.alice .solutions-posts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
	}

	.alice .solutions-posts .solutions-posts-title {
		margin-left: auto;
		margin-right: auto;
		max-width: 850px;	
	}
	.alice .solutions-posts .solutions-posts-item {
		flex-grow: 0;
		cursor: pointer;
		min-height: 220px;
		margin-right: 25px;
		margin-bottom: 25px;
		box-sizing: border-box;
		width: calc((100% - 75px) / 2 );
	}

	.alice .solutions-posts .solutions-posts-item:hover img {
	    transform: scale(1.1,1.1);
	}
}

@media(min-width: 1024px) {
	.alice .solutions-section .solutions-filter {
		justify-content: flex-start;
		margin-bottom: 15px;
	}

	.alice .solutions-filter .filter-item {
		font-size: 14px;
		margin-right: 25px;
		margin-bottom: 25px;
		width: calc((100% - 75px) / 4 );
	}

	.alice .solutions-posts .solutions-posts-item {
		width: calc((100% - 75px) / 3 );
	}
	
	.alice .solutions-filter .filter-item:nth-child(4n) {
		margin-right: 0;
	} 
}