/* Common Section */
.page-template-page-contact .common-bar { 
	position: absolute;
}

.page-template-page-contact .common-bar .breadcrumbs,
.page-template-page-contact .common-bar .breadcrumbs a {
	color: #333333;
	background: transparent;
}

/* Utils */
.page-contact {
	position: relative;
}

.page-contact .section-title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.page-contact .section-title strong {
	font-weight: 1000;
}

.page-contact .section-description {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 45px;
}


@media(min-width: 768px) {
	.page-contact .section-title {
		font-size: 32px;
		line-height: 46px;
	}
	.page-contact .section-description {
		font-size: 18px;
		line-height: 1.4;
	}
	.page-contact .section-tab {
		font-size: 16px;
		border-left-width: 42px;
	}
}


/* Contact Header */
.page-contact .contact-header {
	padding-top: 100px;
}


/* Contact Form */
.page-contact .contact-form {
	margin-bottom: 60px;
}

.page-contact .form-section {
	margin-bottom: 100px;
}

.page-contact .contact-form input,
.page-contact .contact-form textarea {
	width: 100%;
	border: none;
	resize: none;
	display: block;
	font-size: 14px;
	padding: 8px 20px;
	margin-bottom: 18px;
	background: #EBEBEB;
	border-radius: 15px;
	box-sizing: border-box;
}

.page-contact .contact-form textarea {
	height: 86px;
}

.page-contact .input-checkbox {
	display: flex;
	cursor: pointer;
	padding-left: 20px;
	position: relative;
	align-items: center;
	margin-bottom: 18px;
}

.page-contact .input-checkbox input {
	width: auto;
	opacity: 0;
	margin-bottom: 0;
	margin-right: 20px;
	position: relative;
	border-radius: 15px;
}

.page-contact .input-checkbox span {
	top: 0;
	left: 20px;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	border-radius: 4px;
	pointer-events: none;
	box-sizing: border-box;
	border: 1px solid #CC1582;
}

.page-contact .input-checkbox input:checked + span:after {
	content: '';
	width: 7px;
	height: 7px;
	left: 3px;
	top: 3px;
	display: block;
	border-radius: 2px;
	position: absolute;
	background-color: #CC1582;
}

.page-contact .input-checkbox label {
	display: flex;
	color: #3C3C3C;
	font-size: 12px;
	align-items: center;
}

.page-contact input.submit {
	color: #FFFFFF;
	font-weight: 1000;
	line-height: 20px;
	background: #CC1582;
	text-transform: uppercase;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
}

.page-contact input.submit:hover {
	background-color: #ad0f6d;
}

.page-contact .contact-svg {
	overflow: hidden;
	text-align: right;
	margin-bottom: 50px;
	width: calc(100% + 24px);
}

@media(min-width: 768px) {
	.page-contact .line-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.page-contact .contact-form input:first-child {
		margin-right: 16px;
	}
	.page-contact .input-checkbox {
		margin-right: 40px;
		min-width: 220px;
	}
	.page-contact .contact-svg {
		margin-bottom: 20px;
		width: auto;
	}
}


@media(min-width: 1024px) {
	.page-contact .form-section {
		max-width: 510px;
	}
	.page-contact .layers-section {
		top: 50px;
		right: 0;
		margin: 0;
		width: 38%;
		max-width: 510px;
		position: absolute;
	}
}

@media(min-width: 1300px) {
	.page-contact .layers-section {
		right: calc((100% - 1200px) / 2);
	}
}

/* Covid Warning */
.covid-warning {
	max-width: 400px;
	position: relative;
	margin-left: 60px;
	box-sizing: border-box;
	border-radius: 15px;
	margin-bottom: 100px;
	background-color: #ffffff;
	padding: 24px 40px 24px 80px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.covid-warning:after {
	top: 24px;
	left: -50px;
	content: '';
	width: 100px;
	height: 100px;
	border-radius: 50%;	
	position: absolute;
	display: inline-block;
	background-size: contain;
	background-color: #FFFFFF;
	background-size: 50px 50px;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	background-image: url('../images/covid-warning.svg');
}

.covid-warning .tab {
	color: #CC1582;
	font-size: 14px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 25px solid #CC1582;
}

.covid-warning .text {
	font-size: 14px;
	line-height: 18px;
	color: #3C3C3C;
}

@media(min-width: 1024px) {
	.covid-warning {
		margin-right: 24px;
		margin-left: 70px;
	}
}

@media(min-width: 1300px) {
	.covid-warning {
		margin-left: 100px;
	}
}

/* Itera Map */
.contact-map iframe {
	width: 100%;
	height: 300px;
}

.contact-map .maps-wrapper {
	margin-top: 64px;
}

.contact-map .card-map {
	top: -20px;
	display: flex;
	margin: 0 24px;
	max-width: 500px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 80px;
	background-color: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-map .card-map .card-map-content {
	padding: 24px;
}

.contact-map .card-map img {
	width: 120px;
	min-height: 220px;
	object-fit: cover;
}

.contact-map .card-map .title {
	color: #0C2646;
	font-size: 16px;
	line-height: 22px;
	font-weight: 1000;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.contact-map .card-map .address {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
}

@media(min-width: 768px) {
	.contact-map .maps-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.contact-map .map {
		width: 43%;
		position: relative;
	}

	.contact-map .card-map {
		margin-right: 0;
		margin-left: 0;
	}

	.contact-map .card-map img {
		width: 100px;
		height: 220px;
		border-radius: 15px;
	}

	.contact-map .map.map-1 .card-map {
		right: -30px;
		margin-left: auto;
	}

	.contact-map .map.map-2 .card-map {
		left: -30px;
		margin-right: auto;
	}

}

@media(min-width: 1024px) {
	.contact-map .map {
		width: calc((100% - 150px)/2);
	}
	.contact-map .card-map img {
		width: 240px;
		height: 220px;
	}	
}