.widget-popular-posts-title {
	color: #3C3C3C;
	font-size: 14px;
	margin-bottom: 15px;
	padding-left: 5px;
}

.widget-popular-posts .widget-popular-posts-item {
	flex-grow: 1;
	height: 50%;
	display: flex;
	position: relative;
	text-align: right;
	overflow: hidden;
	border-radius: 15px;
	align-items: flex-end;
	margin-bottom: 12px;
	padding: 15px 15px 30px 40px;
	background: linear-gradient(180deg, rgba(98, 77, 160, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.widget-popular-posts .widget-popular-posts-item amp-img > img,
.widget-popular-posts .widget-popular-posts-item img {
	z-index: -1;
	object-fit: cover;
	transition: transform cubic-bezier(.4,.2,.2,1) 0.3s;
}

.widget-popular-posts .widget-popular-posts-item:hover amp-img > img ,
.widget-popular-posts .widget-popular-posts-item:hover img {
	transform: scale(1.1,1.1);
}

.widget-popular-posts .widget-popular-posts-item .widget-popular-post-title {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.widget-popular-posts .widget-popular-posts-item .read-more {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	position: relative;
	font-weight: 900;
	padding-bottom: 4px;
}

.widget-popular-posts .widget-popular-posts-item .read-more::after {
    content: "";
    right: 0;
    bottom: 0;
    width: 0%;
    position: absolute;
    border-bottom: 2px solid #FFFFFF;
    transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
}

.widget-popular-posts .widget-popular-posts-item:hover .read-more::after {
	width: 80%;
}

@media(max-width: 1023px) {
	.widget-popular-posts-wrapper {
		display: none;
	}
}

@media(min-width: 1024px) {
	.widget-popular-posts-wrapper,
	.widget-popular-posts {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

}