.post-grid .scroll-anchor {
	position: relative;
	top: -90px;
}

.post-grid .grid-filter {
	position: relative;
	margin-bottom: 16px;
	font-size: 14px;
	color: #7A7A7A;
	text-align: right;
}

.post-grid .grid-filter select {
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 155px;
	padding: 6.5px 0 8.5px 6.5px;
	font-size: 14px;
	font-weight: 500;
	box-sizing: border-box;
	outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.post-grid .grid-filter svg {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9.5px;
	right: 12px;
	pointer-events: none;
}
