.single-page .single-hero {
	color: #ffffff;
	overflow: hidden;
	min-height: 230px;
	padding-top: 120px;
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 24px;
	box-sizing: border-box;
}

.single-page .single-hero .hero-title {
	z-index: 2;
	color: #ffffff;
	font-size: 22px;
	line-height: 1.4;
	text-align: left;
	font-weight: 900;
	margin-bottom: 5px;
	position: relative;
}

.single-page .single-hero .hero-infos {
	display: flex;
	font-size: 12px;
	align-items: center;
	margin-bottom: 24px;
}

.single-page .single-hero .hero-infos span {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	display: inline-block;
	background-color: #ffffff;
	margin: 0 8px;
}

.single-page .single-hero .hero-social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.single-page .single-hero .hero-post-excerpt {
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 24px;
	letter-spacing: 0.2px;
}

.single-page .single-hero .social-network-icon {
	display: inline-block;
	margin-right: 10px;
	fill: #FFFFFF;
}


.single-page .social-share {
	max-width: 24px;
	max-height: 24px;
	margin-right: 10px;
	background-color: transparent;
}

.single-page .social-share.twitter {
	background-image: url('../images/twitter-fill.svg');
}

.single-page .social-share.facebook {
	background-image: url('../images/facebook-fill.svg');
}

.single-page .social-share.instagram {
	background-image: url('../images/instagram-fill.svg');
}

.single-page .social-share.linkedin {
	background-image: url('../images/linkedin-fill.svg');
}

.single-page .single-hero .hero-post-download {
	padding: 5px 8px;
	border-radius: 15px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	border: 1px solid #ffffff;
}

.single-page .single-hero .hero-image {
	z-index: -2;	
	transform: scale(1.05);
	filter: blur(5px);
}

.single-page .single-hero .overlay {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(98, 77, 160, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
	position: absolute;
	z-index: -1;
	top: 0;
}

.single-page .single-hero .reading-time {
	left: 0px;
	bottom: 20px;
	font-size: 12px;
	position: absolute;
	padding-left: 24px;
}

.single-page .single-hero .reading-time span {
	font-style: italic;
}

.single-page .post-content {
	margin-bottom: 80px;
	font-size: 16px;
	line-height: 1.5;
	color: #3C3C3C;
	position: relative;
	padding-bottom: 60px;
}

.single-page .post-content:after {
	content: "";
	left: 50%;
	bottom: -1px;
	height: 1px;
	width: 100%;
	max-width: 850px;
	transform: translateX(-50%); 
	position: absolute;
	background: linear-gradient(to right,rgba(198, 198, 198, 0) 0%, #C6C6C6 13.54% ,#C6C6C6 86.46% , rgba(198, 198, 198, 0) 100%);
}

.single-page .post-content h2 {
	color: #333333;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 40px;
	font-weight: 900;
}

.single-page .post-content *:first-child {
	margin-top: 0;
}

.single-page .post-content h3 {
	color: #333333;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 900;
}

.single-page .post-content p,
.single-page .post-content figure {
	margin-bottom: 30px;
}

.single-page .post-content figure {
	margin-left: auto;
	margin-right: auto;
}

.single-page .post-content figure figcaption {
	font-size: 12px;
	color: #7A7A7A;
}

.single-page .post-content figure.is-style-rounded amp-img{
	border-radius: 15px;
}

.single-page .post-content > ul {
	margin: 0 0 30px;
	padding-left: 30px;
}

.single-page .post-content li {
	margin-bottom: 20px;
}

.single-page .post-content blockquote {
	padding: 12px 24px;
	margin: 0 0 40px;
	border-radius: 15px;
	position: relative;
	background-color: #F5F5F5;
}

.single-page .post-content blockquote p {
	margin: 0;
	font-size: 16px;
}

.single-page .post-content .wp-block-code {
	background-color: #FBFBFB;
	padding: 16px 28px 16px 14px;
	border-left: 3px solid #624DA0;
}

.single-page .post-content .wp-block-code code {
	border-left: 1px solid #C4C4C4;
	padding-left: 14px;
	display: block;
}

.single-page .post-content a {
	text-decoration: underline;
	color: #333333;
}

.single-page .post-content a:hover {
	color: #CC1582;
}

.single-page .post-content amp-img img {
	-o-object-fit: cover;
	   object-fit: cover;
}

.single-page .post-content-wrapper {
	position: relative;
}

.single-page .post-content-wrapper .post-next-link {
	right: 0;
	bottom: 0;
	font-size: 14px;
	max-width: 300px;
	text-align: right;
	position: absolute;
	border-radius: 15px;
	transform: translateY(50%);
	background-color: #FFFFFF;
	padding: 16px 60px 16px 24px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
}

.single-page .post-content-wrapper .post-next-link:hover {
	padding-right: 70px;
}

.single-page .post-content-wrapper .post-next-link a {
	color: #3C3C3C;
	line-height: 1.3;
	font-weight: 500;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.single-page .post-content-wrapper .post-next-link a::after {
	margin: 0;
	content: '';
	width: 34px;
	height: 34px;
	display: block;
	position: absolute;
	right: -45px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
    transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
	background-image: url('../images/right-arrow-pink.svg');
}

.single-page .post-content-wrapper .post-next-link:hover a::after {
	right: -60px;
}
.single-solucoes .reading-bar,
.single-post .reading-bar {
	left: 0;
	width: 100%;
	height: 3px;
	z-index: 2;
	position: absolute;
	bottom: -2px;
	transform: translateX(-100%);
	background-color: #CC1582;
}

.single-page .reading-bar-anchor {
    width: 100%;
    height: calc(100% - 180vh);
    z-index: -1;
    position: absolute;
    top: 80vh;
}

@media(min-width: 768px){
	.single-page .single-hero {
		min-height: 300px;
	}

	.single-page .single-hero .hero-title {
		font-size: 32px;
	}

	.single-page .single-hero .reading-time {
		position: static;
	}

	.single-page .single-hero .hero-social {
		justify-content: flex-start;
	}

	.single-page .single-hero .hero-social .hero-social-share {
		margin-right: 20px;
	}

	.single-page .single-hero .hero-social .hero-post-download {
		padding: 5px 20px;
	}

	.single-page .single-hero .hero-social .hero-post-download:hover {
		color: #7A7A7A;
		background-color: #FFFFFF;
	}

	.single-page .post-content {
		margin-bottom: 60px;
	}

	.single-page .post-content p,
	.single-page .post-content li {
		font-size: 14px;
	}

	.single-page .post-content h2 {
		font-size: 24px;
	}

	.single-page .post-content h3 {
		font-size: 24px;
	}

	.single-page .post-content h2, 
	.single-page .post-content h3,
	.single-page .post-content p,
	.single-page .post-content figure ,
	.single-page .post-content ul {
		margin-bottom: 30px;
	}

	.single-page .post-content figure amp-img {
		width: 100%;
	}
}

@media(min-width: 1024px) {
	.single-page .single-hero {
		margin-bottom: 0;
		padding-bottom: 150px;
	}
	.single-page .post-content-wrapper {
		top: -120px;
		position: relative;
		min-height: 200px;
		border-radius: 15px;
		background-color: #ffffff;
	}
	.single-page .post-content {
		margin: 0 auto;
		padding: 48px 24px 60px 24px;
		max-width: 850px;
	}
	.single-page .post-content blockquote {
		padding: 12px 36px;
	}
}

/* Post Metas */

.post-metas-wrapper {
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 40px;
}

.post-metas-wrapper:after {
	content: "";
	left: 50%;
	bottom: -1px;
	height: 1px;
	width: 100%;
	max-width: 850px;
	transform: translateX(-50%); 
	position: absolute;
	background: linear-gradient(to right,rgba(198, 198, 198, 0) 0%, #C6C6C6 13.54% ,#C6C6C6 86.46% , rgba(198, 198, 198, 0) 100%);
}

.post-metas-wrapper .author-metas {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.post-metas-wrapper .author-metas amp-img {
	min-width: 80px;
	min-height: 80px;
	border-radius: 50%;
	margin-right: 16px;
}

.post-metas-wrapper .author-metas .author-text {
	font-size: 14px;
	line-height: 1.4;
}

.post-metas-wrapper .author-metas .author-text span {
	color: #624DA0;
	font-weight: 900;
}

.post-metas-wrapper .author-metas .author-description {
	color: #7A7A7A;
	margin: 5px 0 10px 0;
}

.post-metas-wrapper .author-metas .author-text svg {
	fill: #624DA0;
}

.post-metas-wrapper .post-metas {
	font-size: 14px;
	color: #3C3C3C;
}

.post-metas-wrapper .post-metas p {
	margin-bottom: 15px;
	line-height: 1.4;
}

.post-metas-wrapper .post-metas .category-item {
	color: #FFFFFF;
	margin-right: 10px;
	padding: 2px 10px;
	font-size: 12px;
	font-weight: 900;
	margin-bottom: 8px;
	border-radius: 15px;
	display: inline-block;
	text-transform: uppercase;
	background-color: #543D99;
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.post-metas-wrapper .post-metas .category-item:hover {
	background-color: #352665;
}

.post-metas-wrapper .post-metas .category-item:first-child {
	margin-left: 10px;
}

.post-metas-wrapper .post-metas .tag-item {
	color: #CC1582;
	padding: 0 4px;
}

.post-metas-wrapper .post-metas .tag-item:hover {
	border-bottom: 1px solid #CC1582;
}

.post-metas-wrapper .post-metas .tag-item:not(:last-child)::after {
	content: ',';
	color: #CC1582;
}

@media(min-width: 768px) {
	.post-metas-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.post-metas-wrapper .author-metas {
		width: 400px;
		min-width: 400px;
		margin-right: 50px;
	}
}

/* Widgets */

.single-solucoes  .sidebar-widget ,
.single-post .sidebar-widget {
	margin-bottom: 50px;
}

.single-solucoes .widget-popular-posts-wrapper , 
.single-post .widget-popular-posts-wrapper {
	display: block;
}

.single-solucoes .newsletter-widget ,
.single-post .newsletter-widget {
	margin-bottom: 40px;
}

@media(min-width: 768px) {
	.single-solucoes .newsletter-widget ,
	.single-post .newsletter-widget {
		margin-left: auto;
		margin-bottom: 50px;
		margin-right: auto;
		max-width: 850px;
	}
	.single-solucoes .newsletter-widget .single-post-wrapper ,
	.single-post .newsletter-widget .single-post-wrapper {
		display: flex;
		align-items: flex-start;
	}
	.single-solucoes  .newsletter-widget .newsletter-widget-second-text ,
	.single-post .newsletter-widget .newsletter-widget-second-text {
		line-height: 1.5;
	}
	.single-solucoes .newsletter-widget .newsletter-form-wrapper ,
	.single-post .newsletter-widget .newsletter-form-wrapper {
		display: flex;
		min-width: 400px;
		margin-left: 15px;
		align-items: center;
	}
	.single-solucoes .newsletter-widget .newsletter-widget-email ,
	.single-post .newsletter-widget .newsletter-widget-email {
		margin-bottom: 0;
		border-radius: 15px;
		min-width: 230px;
	}
	.single-solucoes .newsletter-widget .newsletter-widget-label span , 
	.single-post .newsletter-widget .newsletter-widget-label span {
		bottom: -18px;
	}
	.single-solucoes  .newsletter-widget .newsletter-widget-submit ,
	.single-post .newsletter-widget .newsletter-widget-submit {
		margin-left: 15px;
		margin-top: 0;
	}
	.single-solucoes .widget-popular-posts ,
	.single-post .widget-popular-posts {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.single-solucoes .widget-popular-posts-title , 
	.single-post .widget-popular-posts-title {
		margin-left: auto;
		margin-right: auto;
		max-width: 850px;	
	}
	.single-solucoes .widget-popular-posts .widget-popular-posts-item ,
	.single-post .widget-popular-posts .widget-popular-posts-item {
		flex-grow: 0;
		margin: 0 10px;
		min-height: 220px;
		box-sizing: border-box;
		width: calc((100% - 30px) / 3 );
	}
	.single-solucoes .widget-popular-posts .widget-popular-posts-item:only-child  ,
	.single-post .widget-popular-posts .widget-popular-posts-item:only-child {
		margin-right: auto;
	}
}


/* Popup */

.popup-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	visibility: visible;
	background-color: rgba(255,255,255,0.5);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.download-popup.hidden,
.popup-overlay.hidden {
	opacity: 0;
	visibility: hidden;
}

.download-popup {
	top: 130px;
	opacity: 1;
	z-index: 10;
	position: fixed;
	visibility: visible;
	border-radius: 15px;
	background: #F6F6F6;
	padding: 40px 24px 24px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.download-popup .close-popup {
	top: 24px;
	right: 24px;
	cursor: pointer;
	position: absolute;
}

.download-popup .tab {
	color: #CC1582;
	font-size: 16px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 45px solid #CC1582;
}

.download-popup .title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	font-weight: 1000;
	text-transform: uppercase;
}

.download-popup .description {
	font-size: 14px;
	line-height: 19px;
	color: #3C3C3C;
}

.download-popup amp-img {
	display: none;
}

.download-popup .input-checkbox {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
	align-items: center;
	margin-bottom: 25px;
}

.download-popup .input-checkbox input {
	width: auto;
	opacity: 0;
	margin-bottom: 0;
	margin-right: 17px;
	position: relative;
	border-radius: 15px;
}

.download-popup .input-checkbox span {
	top: 0;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	border-radius: 4px;
	pointer-events: none;
	box-sizing: border-box;
	border: 1px solid #CC1582;
}

.download-popup .input-checkbox input:checked + span:after {
	content: '';
	width: 7px;
	height: 7px;
	left: 3px;
	top: 3px;
	display: block;
	border-radius: 2px;
	position: absolute;
	background-color: #CC1582;
}

.download-popup .input-checkbox label {
	display: flex;
	color: #3C3C3C;
	font-size: 12px;
	align-items: center;
}

@media(min-width: 450px) {
	.download-popup {
		left: 50%;
		margin: 0;
		width: 350px;
		transform: translateX(-50%);
	}
}

@media(min-width: 768px) {
	.download-popup {
		padding: 0;
		width: 700px;
		display: flex;
	}

	.download-popup .popup-content {
		max-width: 50%;
		padding: 50px;
		box-sizing: border-box;
	}

	.download-popup amp-img {
		width: 50%;
		display: block;
		border-radius: 15px;
	}

	.download-popup amp-img[layout="intrinsic"] > img {
		object-fit: cover;
	}

	.download-popup amp-img:after {
	    content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(360deg, rgba(98, 77, 160, 0.67) -2.34%, rgba(204, 21, 130, 0.12) 104.3%);
		position: absolute;
		z-index: -1;
		top: 0;
		z-index: 1;
	}
	
	.single-post .download-popup-form.newsletter-widget .newsletter-form-wrapper,
	.single-solucoes .download-popup-form.newsletter-widget .newsletter-form-wrapper {
		display: initial;
	}

	.single-post .download-popup-form.newsletter-widget .newsletter-widget-email,
	.single-solucoes .download-popup-form.newsletter-widget .newsletter-widget-email {
		margin-bottom: 25px;
	}
	
	.single-post .download-popup-form.newsletter-widget .newsletter-widget-submit,
	.single-solucoes .download-popup-form.newsletter-widget .newsletter-widget-submit {
		margin-left: 0;
	}
	
	.single-post .download-popup-form.newsletter-widget .newsletter-widget-label span ,
	.single-solucoes .download-popup-form.newsletter-widget .newsletter-widget-label span {
		bottom: 8px;
	}
}

@media(min-width: 1024px) {
	.download-popup {
		top: 150px;
		width: 900px;
	}

}