.solution-card {
	overflow: hidden;
	border-radius: 15px; 
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
	margin-bottom: 20px;
}

.solution-card .solution-thumbnail {
	display: flex;
	height: 250px;
	padding: 30px 24px;
	box-sizing: border-box;
	position: relative;
	border-radius: 15px;
	align-items: flex-end;
}

.solution-card .solution-thumbnail .solution-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
	border-radius: 15px;
	top: 0;
	left: 0;
}

.solution-card .solution-thumbnail .solution-img .img-layer {
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: linear-gradient(to top, rgba(98, 77, 160, 0.67) 0%
, rgba(204, 21, 130, 0.12) 100%);
}

.solution-card .solution-thumbnail .solution-img img {
	width: 100%;
	height: 100%;
	transition: transform cubic-bezier(.4,.2,.2,1) 0.3s;
	object-fit: cover;
	object-position: center;
}

.solution-card:hover .solution-thumbnail .solution-img img {
	transform: scale(1.1,1.1);
}

.solution-card .solution-title a {
	color: #FFFFFF;
	font-size: 18px;
	z-index: 1;
	position: relative;
	font-weight: 900;
	text-transform: uppercase;
}

.solution-card .solution-category-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.solution-card .solution-category {
	left: 15px;
	bottom: 0;
	position: absolute;
	transform: translateY(50%);
	padding: 2px 15px;
	text-align: center;
	margin-right: 20px;
	border-radius: 15px;
	box-sizing: border-box;
	background-color: #543D99;
	text-transform: uppercase;
}

.solution-card .solution-category a {
	color: #FFFFFF;
	line-height: 1.2;
	font-size: 12px;
	font-weight: 900;
}

.solution-card .solution-content {
	color: #3C3C3C;
	padding: 24px;
	font-size: 14px;
	line-height: 1.2;
	text-align: right;
}

.solution-card .solution-content p {
	margin-bottom: 10px;
	letter-spacing: 0.2px;
	text-align: left;
}

.solution-card:hover .solution-content .show-more::after {
	width: 80%;
}

.solution-card .solution-content .show-more {
	text-transform: uppercase;
	color: #cc1582;
	font-size: 16px;
	font-weight: 900;
}

.solution-card .solution-content .solution-category ,
.solution-card .solution-content .solution-title {
	display: none;
}

@media(min-width: 1200px) {

	.solution-card {
		display: flex;	
	}	

	.solution-card .solution-content {
		text-align: left;
		position: relative;
		padding: 24px 24px 49px 24px;
	}

	.solution-card .solution-content .solution-category {
		padding: 0;
		position: initial;
		display: inline-block;
		margin-bottom: 10px;
		transform: initial;
		transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
	}

	.solution-card .solution-content .solution-category a {
		padding: 5px 20px;
		display: inline-block;
	}

	.solution-card .solution-content .solution-category:hover {
		background-color: #352665;
	}

	.solution-card .solution-content .solution-title {
		display: block;
		color: #cc1582;
		font-weight: 900;
		margin-bottom:18px;
		text-transform: uppercase;
	}

	.solution-card .solution-content .show-more {
		position: absolute;
		bottom: 20px;
		left: 24px;
		padding-bottom: 4px;
	}

	.solution-card .solution-content .show-more::after {
	    content: "";
	    left: 0;
	    bottom: 0;
	    width: 0%;
	    position: absolute;
	    border-bottom: 2px solid #cc1582;
	    transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
	}

	.solution-card .solution-thumbnail {
		min-width: 150px;
		min-height: 250px;
		height: auto;
	}

	.solution-card .solution-thumbnail .solution-category ,
	.solution-card .solution-thumbnail .solution-title {
		display: none;
	}

}
