/* Hero */

.tax-solution-category .common-bar {
	position: absolute;
}

.tax-solution-category .breadcrumbs,
.tax-solution-category .breadcrumbs a {
	background: transparent;
	color: #FFFFFF;
}

.solutions-category .solutions-category-hero {
	color: #FFFFFF;
	padding-top: 80px;
	padding-bottom: 180px;
	background: linear-gradient(290.23deg, #624DA0 20.09%, #483973 100%);
}

.solutions-category .solutions-category-hero .title {
	font-size: 30px;
	line-height: 41px;
	font-weight: 1000;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.solutions-category .solutions-category-hero .description {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 22px;
}

.solutions-category .solutions-category-hero .whitepaper {
	color: #FFFFFF;
	font-weight: 900;
	font-size: 14px;
	padding: 9px 40px;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	border: 1px solid #FFFFFF;
	text-transform: uppercase;
}

@media(min-width: 768px) {
	.solutions-category .solutions-category-hero {
		padding-bottom: 130px;
	}

	.solutions-category .solutions-category-hero .title {
		font-size: 36px;
	}

	.solutions-category .solutions-category-hero .description {
		font-size: 18px;
	}

	.solutions-category .solutions-category-content {
		width: calc(100% - 400px);
		max-width: 600px;
	}
}
/* Sections Commons */

.solutions-category .section-title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.solutions-category .section-title strong {
	font-weight: 1000;
}

.solutions-category .section-description {
	color: #3C3C3C;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 45px;
}

@media(min-width: 768px) {
	.solutions-category .section-title {
		font-size: 32px;
		line-height: 46px;
	}
	.solutions-category .section-description {
		font-size: 18px;
		line-height: 1.4;
	}
}

@media(min-width: 768px) {

	.solutions-category .white-space-wrapper {
		top: -60px;
		position: relative;
		min-height: 75px;
		border-radius: 15px;
		background-color: #fff;
	}

}

/* Section 1 */

.solutions-category .section-1 {
	z-index: 0;
	padding-top: 180px;
	position: relative;
	margin-bottom: 80px;
}

.solutions-category .section-1 .section-1-image-wrapper {
	top: -130px;
	right: 0px;
	width: 340px;
	height: 250px;
	overflow: hidden;
	border-radius: 15px;
	position: absolute;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: linear-gradient(360deg, rgba(98, 77, 160, 0.67) -2.34%, rgba(204, 21, 130, 0.12) 104.3%);
}

.solutions-category .section-1 .section-1-image {
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}

@media(min-width: 768px) {
	.solutions-category .section-1 {
		top: -80px;
		padding: 0 48px 0;
		margin-bottom: 0px;
	}

	.solutions-category .section-1 .section-1-image-wrapper {
		width: 320px;
		top: -150px;
		height: calc(100% + 170px);
	}

	.solutions-category .section-1-header {
		max-width: 600px;
		width: calc(100% - 380px);
	}
}

@media(min-width: 1024px) {
	.solutions-category .section-1-header {
		width: calc(100% - 420px);
	}
	.solutions-category .section-1 .section-1-image-wrapper {
		width: 380px;
		height: calc(100% + 200px);
	}
}

@media(max-width: 1439px) {
	.solutions-category .section-1 .section-1-image-wrapper {
		margin: 0;
	}
}

@media(min-width: 1440px) {
	.solutions-category .section-1 .section-1-image-wrapper {
		width: 400px;
		border-radius: 15px;
	}
	.solutions-category .section-1-header {
		max-width: 550px;
	}
}

/* Section 2 */

.solutions-category .section-2 {
	position: relative;
	margin-bottom: 100px;
}

.solutions-category .section-2 .section-layer {
	position: relative;
	margin-bottom: 30px;
}

.solutions-category .section-2 .section-layer svg {
	height: auto;
	max-width: 324px;
}

.solutions-category .section-2 .section-layer img {
	top: 25px;
	left: 150px;
	width: 40px;
	height: auto;
	position: absolute;
}

@media(min-width: 768px) {
	.solutions-category .section-2  {
		padding-top: 80px;
	}
	.solutions-category .section-2 .section-layer {
		left: 0;
		top: -50px;
		position: absolute;
	}

	.solutions-category .section-2 .section-2-header {
		margin-left: auto;
		max-width: 550px;
		width: calc(100% - 450px);
	}

}

@media(min-width: 1440px) {
	.solutions-category .section-2 .section-layer {
		top: -100px;
	}
	.solutions-category .section-2 .section-layer svg {
		max-width: initial;
	}
	.solutions-category .section-2 .section-layer img {
		top: 40px;
		width: 60px;
		left: 237px;
	}
	.solutions-category .section-2 .section-2-header {
		max-width: 600px;
	}
}

/* Carousel Section */

.solutions-category .carousel-section .carousel-section-container {
	overflow: hidden;
	max-width: 500px;
	margin: 0 auto 50px;
 	padding-bottom: 300px;
}

.solutions-category .carousel-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.solutions-category .carousel-section .swiper-slide img {
	width: 100%;
	object-fit: contain;
}

.solutions-category .carousel-section .swiper-container-3d .swiper-slide-shadow-left,
.solutions-category .carousel-section .swiper-container-3d .swiper-slide-shadow-right {
	background-image: none;
}

.solutions-category .carousel-section .swiper-slide .slide-icon {
	padding: 30px;
	width: 120px;
	min-width: 120px;
	height: 120px;
	min-height: 120px;
	display: flex;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.solutions-category .carousel-section .swiper-slide .swiper-slide-content {
	top: 90px;
	z-index: -1;
	opacity: 0;
	border-radius: 15px;
	max-width: 350px;
	position: absolute;
	box-sizing: border-box;
	padding: 60px 24px 24px;
	width: calc(100vw - 140px);
	transition: all cubic-bezier(.4,.2,.2,1) 0.1s;
}

.solutions-category .carousel-section .swiper-slide.swiper-slide-active .swiper-slide-content {
	opacity: 1;
}

.solutions-category .carousel-section .swiper-slide .swiper-slide-content .title {
	color: #CC1582;
	font-weight: 900;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
}

.solutions-category .carousel-section .swiper-slide .swiper-slide-content .description {
	color: #3C3C3C;
	margin: 0;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
}

.solutions-category .carousel-section .carousel-section-container .swiper-button-next:after ,
.solutions-category .carousel-section .carousel-section-container .swiper-button-prev:after {
	color: #7A7A7A;
	font-size: 20px;
}

.solutions-category .carousel-section .section-cta {
	color: #CC1582;
	font-size: 14px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding: 8px 30px;
	margin: 0 24px 80px;
	font-weight: 900;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 1px solid #CC1582;
}

@media(max-width: 767px) {
	.solutions-category .carousel-section {
		margin: 0;
	}
	.solutions-category .carousel-section .carousel-section-container:after {
		content: '';
		height: 300px;
		left: 70px;
		top: 70px;
		max-width: 360px;
		position: absolute;
		border-radius: 15px;
		width: calc(100vw - 145px);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
	}
}

@media(min-width: 768px) {
	.solutions-category .carousel-section .carousel-section-container {
		padding: 0 30px;
		max-width: initial;
	}
	
	.solutions-category .carousel-section .swiper-wrapper {
		display: flex;
		justify-content: space-between;
		max-width: initial;
	}

	.solutions-category .carousel-section .carousel-section-container .swiper-slide {
		display: flex;
		height: initial;
		align-items: center;
		flex-direction: column;
		width: calc((100% - 60px) / 4);	
	}

	.solutions-category .carousel-section .swiper-slide .swiper-slide-content {
		top: -35px;
		height: 100%;
		width: initial;
		opacity: initial;
		position: relative;
		border-radius: 15px;
		box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
	}
	.solutions-category .carousel-section .carousel-section-container .swiper-button-prev {
		left: -7px;
	}
	.solutions-category .carousel-section .carousel-section-container .swiper-button-next {
		right: -7px;
	}
	.solutions-category .carousel-section .technology-see-more {
		max-width: 400px;
		margin: 0 auto 120px;
	}
	.solutions-category .carousel-section .section-cta {
		margin: 0 auto 80px;
		max-width: 400px;
	}
}

@media(min-width: 900px) {
	.solutions-category .carousel-section .carousel-section-container {
		padding: 0;
	}
}

@media(min-width: 1300px) {
	.solutions-category .carousel-section .carousel-section-container-wrapper {
		--swiper-navigation-size: none;
	}
	.solutions-category .carousel-section .carousel-section-container {
		padding: 0 15px;
	}
	.solutions-category .carousel-section .carousel-section-container .swiper-slide {
		width: calc((100% - 180px) / 4);	
	}
	.solutions-category .carousel-section .carousel-section-container .swiper-button-next:after ,
	.solutions-category .carousel-section .carousel-section-container .swiper-button-prev:after {
		display: none;
	}
}

/* Solutions Section */

.solutions-category {
	margin-bottom: 60px;
}

.solutions-category .solutions-posts  .solutions-posts-item {
	height: 200px;
	position: relative;
	flex-grow: 1;
	display: flex;
	text-align: right;
	overflow: hidden;
	border-radius: 15px;
	align-items: flex-end;
	margin-bottom: 12px;
	padding: 15px 15px 30px 40px;
	background: linear-gradient(180deg, rgba(98, 77, 160, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.solutions-category .solutions-posts .solutions-post-title {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.solutions-category .solutions-posts .read-more {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	position: relative;
	font-weight: 900;
	padding-bottom: 4px;
}

.solutions-category .solutions-posts .solutions-posts-item {
	cursor: pointer;
}

.solutions-category .solutions-posts .solutions-posts-item .solution-content {
	margin-left: auto;
}

.solutions-category .solutions-posts .solutions-posts-item img {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	position: absolute;
	object-fit: cover;
	transition: transform cubic-bezier(.4,.2,.2,1) 0.3s;
}

.solutions-category .solutions-posts .solutions-posts-item:hover img {
    transform: scale(1.1,1.1);
}

.solutions-category .solutions-posts-item .read-more:after {
    content: "";
    right: 0;
    bottom: 0;
    width: 0%;
    position: absolute;
    border-bottom: 2px solid #FFFFFF;
    transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
}

.solutions-category .solutions-posts-item:hover .read-more:after {
	width: 80%;
}

@media(min-width: 768px) {
	.solutions-category .solutions-posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.solutions-category .solutions-posts .solutions-posts-title {
		margin-left: auto;
		margin-right: auto;
		max-width: 850px;	
	}
	.solutions-category .solutions-posts .solutions-posts-item {
		flex-grow: 0;
		max-width: 375px;
		min-height: 220px;
		margin-right: 25px;
		margin-bottom: 25px;
		box-sizing: border-box;
		width: calc((100% - 75px) / 2);
	}
}

@media(min-width: 1024px) {
	.solutions-category .solutions-posts .solutions-posts-item {
		width: calc((100% - 75px) / 3);
	}
}

/* Popup */

.popup-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	position: fixed;
	visibility: visible;
	background-color: rgba(255,255,255,0.5);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.download-popup.hidden,
.popup-overlay.hidden {
	opacity: 0;
	visibility: hidden;
}

.download-popup {
	top: 130px;
	opacity: 1;
	z-index: 10;
	position: fixed;
	visibility: visible;
	border-radius: 15px;
	background: #F6F6F6;
	padding: 40px 24px 24px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	transition: all cubic-bezier(.4,.2,.2,1) 0.25s;
}

.download-popup .close-popup {
	top: 24px;
	right: 24px;
	cursor: pointer;
	position: absolute;
}

.download-popup .tab {
	color: #CC1582;
	font-size: 16px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 45px solid #CC1582;
}

.download-popup .title {
	font-size: 24px;
	color: #0B2646;
	line-height: 36px;
	margin-bottom: 24px;
	font-weight: 1000;
	text-transform: uppercase;
}

.download-popup .description {
	font-size: 14px;
	line-height: 19px;
	color: #3C3C3C;
}

.download-popup img {
	display: none;
}

.download-popup .input-checkbox {
	display: flex;
	margin-top: 10px;
	cursor: pointer;
	position: relative;
	align-items: center;
	margin-bottom: 25px;
}

.download-popup .input-checkbox input {
	width: auto;
	opacity: 0;
	margin-bottom: 0;
	margin-right: 17px;
	position: relative;
	border-radius: 15px;
}

.download-popup .input-checkbox span {
	top: 0;
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	border-radius: 4px;
	pointer-events: none;
	box-sizing: border-box;
	border: 1px solid #CC1582;
}

.download-popup .input-checkbox input:checked + span:after {
	content: '';
	width: 7px;
	height: 7px;
	left: 3px;
	top: 3px;
	display: block;
	border-radius: 2px;
	position: absolute;
	background-color: #CC1582;
}

.download-popup .input-checkbox label {
	display: flex;
	color: #3C3C3C;
	font-size: 12px;
	align-items: center;
}

.download-popup .contact-form-alert-msg.hide,
.download-popup .newsletter-widget-alert-msg.hide {
	display: none;
}

@media(min-width: 450px) {
	.download-popup {
		left: 50%;
		margin: 0;
		width: 350px;
		transform: translateX(-50%);
	}
}

@media(min-width: 768px) {
	.download-popup {
		padding: 0;
		width: 700px;
		display: flex;
	}

	.download-popup:after {
		content: '';
		width: 50%;
		left: 0;
		top: 0;
		z-index: 2;
		height: 100%;
		position: absolute;
		border-radius: 15px;
		background: linear-gradient(360deg, rgba(98, 77, 160, 0.67) -2.34%, rgba(204, 21, 130, 0.12) 104.3%);
	}

	.download-popup .popup-content {
		max-width: 50%;
		padding: 50px;
		box-sizing: border-box;
	}

	.download-popup img {
		width: 50%;
		display: block;
		border-radius: 15px;
		object-fit: cover;
		max-height: 540px;
	}

	.download-popup img:after {
	    content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(360deg, rgba(98, 77, 160, 0.67) -2.34%, rgba(204, 21, 130, 0.12) 104.3%);
		position: absolute;
		z-index: -1;
		top: 0;
		z-index: 1;
	}
	
	.solutions-category .download-popup-form.newsletter-widget .newsletter-form-wrapper {
		display: initial;
	}

	.solutions-category .download-popup-form.newsletter-widget .newsletter-widget-email {
		margin-bottom: 25px;
	}
	
	.solutions-category .download-popup-form.newsletter-widget .newsletter-widget-submit {
		margin-left: 0;
	}
	
	.solutions-category .download-popup-form.newsletter-widget .newsletter-widget-label span {
		bottom: 8px;
	}
}

@media(min-width: 1024px) {
	.download-popup {
		top: 150px;
		width: 900px;
	}

}