.page-template-submit-page .common-bar-wrapper {
	display: none;
}

.page-submit {
	padding: 50px 0 100px;
	position: relative;
	font-family: 'OpenSans', sans-serif;
}

.page-submit .page-icon {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 24px;
	background-size: 50%;
	box-sizing: border-box;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow:  0px 0px 25px rgba(0, 0, 0, 0.1);
	background-image: url('../images/submit-page.svg');
}

.page-submit .page-subtitle {
	color: #CC1582;
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 14px;
	text-transform: uppercase;
}

.page-submit .page-title {
	color: #0B2646;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.4;
	max-width: 600px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.page-submit .page-title strong {
    font-weight: 1000;
}

.page-submit .page-description {
    font-size: 18px;
    line-height: 25px;
    color: #3C3C3C;
    margin-bottom: 50px;
}

.page-submit .search-form {
	max-width: 280px;
	position: relative;
	margin-bottom: 26px;
}

.page-submit .search-form .input-text{
	width: 100%;
	color: #707070;
	border: none;
	font-size: 18px;
	font-weight: 300;
	box-sizing: border-box;
	outline: none;
	padding: 6.5px 14px 8.5px 0;
	background-color: transparent;
}

.page-submit .search-button{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9.5px;
	right: 12px;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.page-submit .search-form input::-webkit-input-placeholder {
	color: #707070;
}

.page-submit .search-form input::-moz-placeholder {
	color: #707070;
}

.page-submit .search-form input:-ms-input-placeholder {
	color: #707070;
}

.page-submit .search-form input::-ms-input-placeholder {
	color: #707070;
}

.page-submit .search-form input::placeholder {
	color: #707070;
}

.page-submit .search-form svg {
	width: 16px;
	height: 16px;
	top: 9.5px;
	right: 12px;
	position: absolute;
	pointer-events: none;
}

.page-layers-background {
	top: 0px;
	display: none;
	right: -200px;
	z-index: -1;
	position: fixed;
}

.page-layers-background .layer-1 {
	z-index: 3;
	width: 600px;
	height: 235px;
	position: relative;
	display: inline-block;
	border-radius: 20px;
	border: 10px solid #F7F7F7;
}

.page-layers-background .layer-2 {
	right: 0;
    top: 140px;
    z-index: 1;
	width: 400px;
	height: 500px;
	position: absolute;
	border-radius: 20px;
	background-color: #ffffff;
	box-shadow:  0px -5px 25px rgba(0, 0, 0, 0.1);;
}

.page-layers-background .layer-3 {
	z-index: 0;
	top: 295px;
	left: 125px;
	width: 600px;
	height: 500px;
	position: absolute;
	display: inline-block;
	border-radius: 20px;
	border: 10px solid #F7F7F7;
}

.page-layers-background .layer-4 {
	z-index: 2;
	top: 245px;
	left: 135px;
	width: 250px;
	height: 150px;
	position: absolute;
	display: inline-block;
	border-bottom-right-radius:  20px;
	border: 1.5px solid rgba(136, 136, 136, 0.2);
	border-top: none;
	border-left: none;
}

@keyframes layer-1 {
  0% {left: 180px;}
  50% {left: 320px;}
  100% {left: 180px;}
}

@keyframes layer-3 {
  0% {top: 180px;}
  50% {top: 40px;}
  100% {top: 180px;}
}

@media(min-width: 768px) {
	.page-submit {
		min-height: 550px;
		box-sizing: border-box;
		height: calc(100vh - 408px);
	}
}

@media(min-width: 1024px) {
	.page-layers-background {
		display: block;
	}
	.page-layers-background .layer-1:after {
		content: '';
		width: 10px;
		left: 180px;
		height: 10px;
		bottom: -10px;
		border-radius: 50%;
		position: absolute;
		display: inline-block;
		animation: layer-1 4s infinite cubic-bezier(.4,.2,.2,1);
		background-color: #CC1582;
	}
	.page-layers-background .layer-3:after {
		content: '';
		width: 10px;
		left: -10px;
		height: 10px;
		top: 180px;
		border-radius: 50%;
		position: absolute;
		display: inline-block;
		animation: layer-3 4s infinite cubic-bezier(.4,.2,.2,1);
		background-color: #CC1582;
	}
}

@media(min-width: 1200px) {
	.page-layers-background {
		right: -100px;
	}
	.page-layers-background .layer-1 {
		right: 80px
	}
	@keyframes layer-1 {
	  0% {left: 320px;}
	  50% {left: 480px;}
	  100% {left: 320px;}
	}
	.page-layers-background .layer-3 {
		left: 70px;
	}
	.page-layers-background .layer-4 {
		width: 300px;
		height: 230px;
		left: 80px;
	}
}

@media(min-width: 1440px) {
	.page-layers-background .layer-1 {
		width: 750px;
	}
	.page-layers-background .layer-4 {
		width: 500px;
	}
	@keyframes layer-3 {
	  0% {top: 230px;}
	  50% {top: 110px;}
	  100% {top: 230px;}
	}
}