.search-hero {
	font-size: 14px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.search-no-results .search-hero {
	margin-bottom: 24px;
}

.search-hero .title {
	color: #CC1582;
	font-size: 18px;
	font-weight: 900;
	margin: 8px 0;
}

.search-no-results .search-hero .results {
	display: none;
}

.search-hero .results {
	color: #7A7A7A;
}

.not-found-posts {
	margin-bottom: 100px;
}

.not-found-posts .search-form {
	max-width: 300px;
	position: relative;
	margin-bottom: 26px;
}

.not-found-posts .search-form .input-text{
	width: 100%;
	color: #7A7A7A;
	border: none;
	font-size: 14px;
	font-weight: 300;
	box-sizing: border-box;
	outline: none;
	padding: 6.5px 40px 8.5px 0;
	background-color: transparent;
}

.not-found-posts .search-button{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9.5px;
	right: 12px;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.not-found-posts .search-form input::-webkit-input-placeholder {
	color: #333;
}

.not-found-posts .search-form input::-moz-placeholder {
	color: #333;
}

.not-found-posts .search-form input:-ms-input-placeholder {
	color: #333;
}

.not-found-posts .search-form input::-ms-input-placeholder {
	color: #333;
}

.not-found-posts .search-form input::placeholder {
	color: #333;
}

.not-found-posts .search-form svg {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 6.5px;
	right: 12px;
	pointer-events: none;
}

@media (min-width: 768px) {
	.search-hero {
		font-size: 18px;
	}

	.search-hero .title {
		font-size: 22px;
	}

	.not-found-posts {
		margin-bottom: 150px;
	}

}


@media (max-width: 1023px) {
	.search .grid-pagination {
		margin-bottom: 40px;
	}
}

/* Widgets */

.search-no-results .sidebar-widget {
	margin-bottom: 50px;
}

.search-no-results .widget-popular-posts-wrapper {
	display: block;
}

.search-no-results .newsletter-widget {
	margin-bottom: 40px;
}

.grid-sidebar .widget-popular-posts .widget-popular-posts-item:last-child {
	display: none
}

@media(min-width: 768px) {
	.search-no-results .newsletter-widget {
		margin-left: auto;
		margin-bottom: 50px;
		margin-right: auto;
		max-width: 850px;
	}
	.search-no-results .newsletter-widget .single-post-wrapper {
		display: flex;
		align-items: flex-start;
	}
	.search-no-results .newsletter-widget .newsletter-widget-second-text {
		line-height: 1.5;
	}
	.search-no-results .newsletter-widget .newsletter-form-wrapper {
		display: flex;
		min-width: 400px;
		margin-left: 15px;
		align-items: center;
	}
	.search-no-results .newsletter-widget .newsletter-widget-email {
		margin-bottom: 0;
		border-radius: 15px;
		min-width: 230px;
	}
	.search-no-results .newsletter-widget .newsletter-widget-label span {
		bottom: -18px;
	}
	.search-no-results .newsletter-widget .newsletter-widget-submit {
		margin-left: 15px;
		margin-top: 0;
	}
	.search-no-results .widget-popular-posts {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.search-no-results .widget-popular-posts-title {
		margin-left: auto;
		margin-right: auto;
		max-width: 850px;	
	}
	.search-no-results .widget-popular-posts .widget-popular-posts-item {
		flex-grow: 0;
		min-height: 220px;
		box-sizing: border-box;
		width: calc((100% - 30px) / 3 );
	}
	
	.search-no-results .widget-popular-posts .widget-popular-posts-item > a {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}


}
