.archive-hero .archive-thumbnail {
    height: 200px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    color: #FFFFFF;
    align-items: flex-end;
    background:  linear-gradient(180deg, rgba(98, 77, 160, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.archive-hero .archive-thumbnail .hero-image {
    z-index: -1;
}

.archive-hero .archive-content {
    position: relative;
    top: -50px;
}

.archive-hero .archive-content .title {
    margin-bottom: 40px;
    color: #FFFFFF;
}

.archive-hero .archive-content .description {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .2px
    color: #3C3C3C;
}

.archive-hero .archive-content .description a {
    color: #CC1582;
}

@media (min-width: 500px) and (max-width: 1023px) {
    .archive-hero .archive-content .title {
        padding: 0 24px;
    }
}