.categories-navigator {
	position: relative;
	z-index: 0;
	margin-bottom: 40px;
}

.categories-navigator .categories-navigator-wrapper {
	display: flex;
	overflow: auto;
	position: relative;
	align-items: center;
	padding-bottom: 15px;
}

.categories-navigator .categories-navigator-wrapper::-webkit-scrollbar {
	width: 6px;
	height: 7px;
	border-radius: 10px;
	background-color: #f2f2f2;
}

.categories-navigator .categories-navigator-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #cc1582;
}

.categories-navigator .categories-navigator-wrapper::-webkit-scrollbar-track {
	 -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.categories-navigator .category-title {
	color: #3C3C3C;
	margin: 0 0 20px 0;
}

.categories-navigator .category-item {
	height: 50px;
	color: #CC1582;
	font-size: 14px;
	font-weight: 900;
	width: min-content;
	padding: 9px 15px;
	text-align: center;
	border-radius: 15px;
	margin-right: 7px;
	margin-left: 7px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
    transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.categories-navigator .category-item:hover {
	color: #ad0f6d;
}


@media(max-width: 767px) {
	.categories-navigator {
		margin-right: 0;
	}
}

@media(min-width: 768px) {
	.categories-navigator .categories-navigator-wrapper {
		display: flex;
		overflow: initial;
		padding-bottom: 0;
		justify-content: space-between;
	}
	.categories-navigator .category-item {
		width: initial;
		min-width: 150px;
	}
	.categories-navigator-wrapper:after {
		content: "";
		left: 50%;
		bottom: 50%;
		height: 1px;
		width: 100%;
		z-index: -1;
		transform: translateX(-50%); 
		position: absolute;
		background: linear-gradient(to right,rgba(198, 198, 198, 0) 0%, #C6C6C6 13.54% ,#C6C6C6 86.46% , rgba(198, 198, 198, 0) 100%);
	}
	.categories-navigator {
		margin-bottom: 50px;
	}
}

@media(min-width: 1024px) {
	.categories-navigator-wrapper:after {
		width: 120%;
	}
}