.blog-home-hero {
	position: relative;
}

.blog-home-hero-post {
	display: flex;
	align-items: flex-end;
	position: relative;
	border-radius: 15px;
	overflow: none;
	color: #FFFFFF;
}

.blog-home-hero-post amp-img {
	z-index: -2;
}

.blog-home-hero-post amp-img > img {
	object-fit: cover;
}

.blog-home-hero-post .hero-background {
	position: absolute;
	background: linear-gradient(rgba(98, 77, 160, 0.7) 0%
, rgba(0, 0, 0, 0.8) 100%);	
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.blog-home-hero-post .post-link {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.blog-home-hero-post .hero-post-content {
	padding: 24px 0;
}

.blog-home-hero-post .hero-post-content .hero-infos span {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	display: inline-block;
	background-color: #ffffff;
	margin: 0 8px;
}

.blog-home-hero-post .hero-post-content .hero-post-category {
	padding: 3px 30px;
	font-weight: 900;
	border-radius: 15px;
	color: #FFFFFF;
	margin-right: 16px;
	text-transform: uppercase;
	background-color: #CC1582;
}

.blog-home-hero-post .hero-post-content .hero-post-title {
	font-size: 16px;
	margin: 12px 0 36px 0;
	font-weight: 500;
	line-height: 22px;
}

.blog-home-hero-post .hero-post-content .hero-post-infos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog-home-hero-post .hero-post-content .hero-post-infos .post-date {
	font-size: 12px;
}

.blog-home-hero-post .hero-post-content .hero-post-infos .read-more {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 900;
	position: relative;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.blog-home-hero-post .hero-post-content .hero-post-infos .read-more::after {
    content: "";
    left: 0;
    bottom: 0;
    width: 0%;
    position: absolute;
    border-bottom: 2px solid #FFFFFF;
    transition: width cubic-bezier(.4,.2,.2,1) 0.3s;
}

.blog-home-hero-post:hover .hero-post-content .hero-post-infos .read-more::after {
	width: 80%;
}

.blog-home-hero-carousel .amp-carousel-button {
	display: none;
	outline: none;
}

.blog-home-hero .blog-home-hero-carousel {
	margin-bottom: 15px;
	max-height: 300px;
}

.blog-home-hero .carousel-bullets {
	text-align: center;
	margin-bottom: 8px;
}

.blog-home-hero .carousel-bullets span {
	width: 8px;
	height: 8px;
	margin: 0 3px;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	display: inline-block;
	background: rgba(98, 77, 160, 0.5);
}

.blog-home-hero .carousel-bullets span.select {
	background: #CC1582;
}

@media (min-width: 768px) {
	.blog-home-hero-post {
		border-radius: 0px;
	}
	.blog-home-hero-post .hero-infos {
		display: flex;
		align-items: center;
	}
	.blog-home-hero .blog-home-hero-carousel {
		max-height: initial;
		margin-bottom: 50px
	}
	.blog-home-hero-post .hero-post-content {
		padding-bottom: 80px;
	}
	.blog-home-hero-post .hero-post-content .hero-post-top {
		font-size: 13px;
		display: flex;
		align-items: center;
	}
	.blog-home-hero-post .hero-post-content .hero-post-title {
		font-size: 24px;
		font-weight: 300;
		line-height: 33px;
		margin: 30px 0;
	}
	.blog-home-hero .carousel-bullets {
		position: absolute;
		left: 50%; 
		bottom: 40px;
		transform: translateX(-50%);
	}
	.blog-home-hero .carousel-bullets span {
		background-color: #FFFFFF;
	}
	.blog-home-hero-carousel .amp-carousel-button {
		display: initial;
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: none;
		background-color: transparent;
	}
	.blog-home-hero-carousel .amp-carousel-button-next::after {
		content: '';
		margin: 0;
		background-image: url('../../images/right-arrow-pink.svg');
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		display: block;
		height: 34px;
		width: 34px;
		background-color: #FFFFFF;
	}
	.blog-home-hero-carousel .amp-carousel-button-prev::after {
		content: '';
		margin: 0;
		background-image: url('../../images/left-arrow-pink.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-color: #FFFFFF;
		border-radius: 50%;
		display: block;
		height: 34px;
		width: 34px;
	}
}

@media (min-width: 1024px) {
	.blog-home-hero-carousel .amp-carousel-button {
		width: 50px;
	}
	.blog-home-hero-carousel .amp-carousel-button-next {
		margin: 0 24px 0 0;
	}
	.blog-home-hero-carousel .amp-carousel-button-prev {
		margin: 0 0 0 24px;
	}
}

@media (min-width: 1200px) {
	.blog-home-hero-carousel .amp-carousel-button {
		width: 150px;
	}
	.blog-home-hero-carousel .amp-carousel-button-next {
		margin: 0 96px 0 0;
	} 
	.blog-home-hero-carousel .amp-carousel-button-prev {
		margin: 0 0 0 96px;
	}
}

@media (min-width: 1440px) {
	.blog-home-hero-carousel .amp-carousel-button-next {
		margin: 0 calc((100vw - 1200px) / 2) 0 0;
	} 
	.blog-home-hero-carousel .amp-carousel-button-prev {
		margin: 0 0 0 calc((100vw - 1200px) / 2);
	}
}