.alice-section {
	padding: 20px 0;
	position: relative;
}

.alice-section .alice-tabs-container,
.alice-section .alice-carousel-progress {
	display: none;
}

.alice-section .alice-carousel {
	padding: 0 24px;
}

.alice-section .swiper-slide {
	text-align: left;
	display: initial;
}

.alice-carousel-progress span {
	height: 5px;
	display: block;
	background-color: #CC1582;
	transform: translateX(-100%);
	transition: all cubic-bezier(.4,.2,.2,1) 0.3s;
}

.alice-section .swiper-slide .item-tab {
	color: #CC1582;
	font-size: 14px;
	line-height: 1;
	font-weight: 1000;
	padding-left: 10px;
	margin-bottom: 16px;
	text-transform: uppercase;
	border-left: 45px solid #CC1582;
}

.alice-section .swiper-slide .item-title {
	font-size: 18px;
	color: #0C2646;
	font-weight: 1000;
	line-height: 25px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.alice-section .swiper-slide .item-description {
	font-size: 14px;
	line-height: 19px;
	color: #3C3C3C;
	margin-bottom: 48px;
}

.alice-section .swiper-slide .cta-meet {
	color: #FFFFFF;
	background-color: #CC1582;
	font-size: 14px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding: 9px 30px;
	max-width: 300px;
	margin: 0 auto 20px;
	font-weight: 900;
	border-radius: 20px;
	box-sizing: border-box;
	text-transform: uppercase;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
}


.alice-section .swiper-slide .cta-meet:hover {
	background-color: #ad0f6d;
}

.alice-section .swiper-slide .cta-borded {
	color: #CC1582;
	font-size: 14px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding: 8px 30px;
	max-width: 300px;
	margin: 0 auto 120px;
	font-weight: 900;
	border-radius: 20px;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 1px solid #CC1582;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
}

.alice-section .swiper-slide .cta-borded:hover {
	color: #FFFFFF;
	background-color: #CC1582;
}

.alice-section .swiper-slide .item-image {
	order: -1;
	left: 24px;
	height: 216px;
	width: 349px;
	display: block;
	margin-left: auto;
	position: relative;
	margin-bottom: 64px;
	object-position: left;
	object-fit: cover;
}

.alice-section .swiper-slide .item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
	border-radius: 9px;
}

.alice-section .swiper-slide .item-icons {
	display: flex;
	margin-bottom: 64px;
	justify-content: space-between;
}

.alice-section .swiper-slide .item-icons .item-icon {
	width: 95px;
	height: 95px;
	display: flex;
	font-size: 12px;
	border-radius: 50%;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
}

.alice-section .swiper-slide .item-icons .item-icon img {
	width: 100%;
	margin-right: 5px;
	height: height: 100%;
}

.alice-section .swiper-button-next ,
.alice-section .swiper-button-prev {
	display: none
}

@media(min-width: 400px) {
	.alice-section .swiper-slide .item-icons .item-icon {
		width: 120px;
		height: 120px;		
	}
}

@media(max-width: 499px) {
	.alice-section .swiper-slide .item-image {
		height: 216px;
		width: 315px;
	}
}

@media(min-width: 500px) {
	.alice-section .swiper-slide .item-icons {
		justify-content: space-around;
	}
	.alice-section .swiper-slide .item-icons .item-icon {
		width: 140px;
		height: 140px;		
	}
	.alice-section .swiper-slide .item-image {
		height: auto;
		position: initial;
		margin: 0 auto 64px;
	}
}

@media(max-width: 767px) {
	.alice-section .swiper-wrapper {
		display: initial;
	}
	.alice-section .swiper-slide.image-reverse {
		display: flex;
		flex-direction: column;
	}
}

@media(min-width: 768px) {

	.alice-section .alice-carousel {
		padding: 0 48px;
		position: relative;
		margin-bottom: 100px;
		background-color: #fafafa;
		border-bottom:  1px solid #E8E8E8;
	}

	.alice-section .alice-carousel-container {
		margin: 0;
		width: 100%;
		height: 100%;
		padding: 40px 0;
		overflow-x: hidden;
		overflow-y: visible;
		background-color: #fafafa;
	}

	.alice-section .alice-tabs-container {
		display: flex;
		margin-bottom: 22px;
		align-items: center;
		justify-content: center;
	}

	.alice-section .alice-tabs-container .tab {	
		color: #7A7A7A;
		margin: 0 40px;
		cursor: pointer;
		max-width: 130px;
		font-size: 14px;
		line-height: 19px;
		font-weight: 1000;
		padding: 12px 24px;
		border-radius: 15px;
		text-transform: uppercase;
	}

	.alice-section .alice-tabs-container .tab:hover {
		background-color: #F6F6F6;
	}	

	.alice-section .alice-tabs-container .tab.selected {
		color: #CC1582;
	}

	.alice-section .alice-carousel-progress {
		display: block;
		background-color: #F2F2F2;
	}

	.alice-section .swiper-slide {
		font-size: 18px;
		padding-left: 24px;
		background: #fafafa;
		display: initial;
		box-sizing: border-box;
		text-align: left;
	}

	.alice-section .swiper-slide .item-description {
		font-size: 16px;
	}

	.alice-section .swiper-slide .cta {
		margin: 0 15px 0 0;
	}

	.alice-section .swiper-slide .item-tab {
		display: none;
	}

	.alice-section .swiper-slide.desktop-flex {
		display: flex;
		text-align: left;
		align-items: flex-start;
	}

	.alice-section .swiper-slide.desktop-flex .item-image {
		min-width: 40%;
		max-width: 400px;
		order: initial;
		margin-left: 40px;
		margin-right: 34px;
	}

	.alice-section .swiper-slide.desktop-flex .item-description {
		margin-bottom: 36px;
	}

	.alice-section .swiper-slide.desktop-flex .ctas-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.alice-section .swiper-slide .desktop-padding {
		padding-right: 375px;
		padding-top: 20px;
	}

	.alice-section .swiper-slide .desktop-padding .item-icons {
		right: 40px;
		top: 0px;
		padding-top: 20px;
		position: absolute;
	}

	.alice-section .swiper-slide .desktop-padding .item-icon {
		left: 100px;
		width: 150px;
		height: 150px;
		bottom: -125px;
		font-size: 14px;
		position: relative;
	}

	.alice-section .swiper-slide .desktop-padding .item-icon:first-child {
		top: -30px;
		left: 160px;
		bottom: initial;
	}

	.alice-section .swiper-slide .desktop-padding .item-icon:last-child {
		right: 10px;
		bottom: -50px;
		position: initial;
	}

	.alice-section .swiper-slide .woman-icon {
		display: flex;
		padding: 10px;
		min-width: 170px;
		min-height: 170px;
		margin-left: 100px;
		margin-right: 34px;
		border-radius: 50%;
		align-items: center;
		box-sizing: border-box;
		justify-content: center;
		background-color: #FFFFFF;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	}

	.alice-section .swiper-slide .woman-icon img {
		width: 100%;
		max-width: 80px;
		max-height: 110px;
	}

	.alice-section .swiper-button-next ,
	.alice-section .swiper-button-prev {
		width: 35px;
		height: 35px;
		display: flex;
		border-radius: 50%;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	}

	.alice-section .swiper-button-next:after ,
	.alice-section .swiper-button-prev:after {
		color: #CC1582;
		font-size: 15px;
	}
}


@media(min-width: 1024px) {
	.alice-section .alice-carousel {
		padding: 0 calc((100% - 850px) / 2);
	}
	.alice-section .swiper-slide .desktop-padding {
		padding-right: 400px;
	}
	.alice-section .swiper-button-prev {
		left: 38px;
	}

	.alice-section .swiper-button-next {
		right: 38px;
	}
}

@media(min-width: 1300px) {
	.alice-section .swiper-slide {
		padding-left: 0;
	}
	.alice-section .swiper-button-prev {
		left: calc((100% - 1200px) / 2);
	}

	.alice-section .swiper-button-next {
		right: calc((100% - 1200px) / 2);
	}
}
