.companies-section {
	margin-bottom: 100px;
}

.companies-section .companies-partners img {
	width: 100%;
}

.companies-section .companies-colabs {
	display: flex;
	flex-wrap: wrap;
	padding: 0 15px;
	position: relative;
	margin-bottom: 36px;
	align-items: center;
	justify-content: center;
}

.companies-section .companies-colabs img {
	margin: 0 15px 30px;
	width: calc((100% - 90px) / 3);
}


@media(max-width: 768px) {
	.companies-section .companies-partners img {
		width: 100%;
	}

	.companies-section .companies-partners .swiper-slide {
		margin: 0 15px 30px;
		width: calc((100% - 90px) / 3);
	}

	.companies-section .companies-partners .swiper-wrapper {
		display: flex;
		flex-wrap: wrap;
		padding: 0 15px;
		position: relative;
		margin-bottom: 36px;
		align-items: center;
		box-sizing: border-box;
		justify-content: center;
	}

	.companies-section .companies-partners .swiper-wrapper:after {
		content: "";
		left: 50%;
		bottom: 1px;
		height: 1px;
		width: 100%;
		transform: translateX(-50%); 
		position: absolute;
		background: linear-gradient(to right,rgba(198, 198, 198, 0) 0%, #C6C6C6 13.54% ,#C6C6C6 86.46% , rgba(198, 198, 198, 0) 100%);
	}
	.companies-section .companies-partners .swiper-button-next,
	.companies-section .companies-partners .swiper-button-prev {
		display: none;
	}
}

@media(min-width: 768px) {
	.companies-section .companies-partners {
		overflow: hidden;
		position: relative;
		margin-bottom: 36px;
		padding: 0 80px 30px;
	}

	.companies-section .companies-partners:before {
		left: 0;
		z-index: 2;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
	}

	.companies-section .companies-partners:after {
		content: "";
		left: 50%;
		bottom: 1px;
		height: 1px;
		width: 100%;
		transform: translateX(-50%); 
		position: absolute;
		background: linear-gradient(to right,rgba(198, 198, 198, 0) 0%, #C6C6C6 13.54% ,#C6C6C6 86.46% , rgba(198, 198, 198, 0) 100%);
	}

	.companies-section .companies-partners .swiper-wrapper {
		align-items: center;
	}

	.companies-section .companies-partners .swiper-slide img {
		margin: 0 auto;
		opacity: 0.8;
		min-width: 100px;
		width: calc((100% - 90px) / 3);
	}

	.companies-section .companies-partners .swiper-slide.swiper-slide-active img {
		filter: initial;
	}

	.companies-section .companies-partners .swiper-slide {
		text-align: center;
	}

	.companies-section .companies-partners .swiper-button-next,
	.companies-section .companies-partners .swiper-button-prev {
		width: 35px;
		height: 35px;
		display: flex;
		z-index: 3;
		border-radius: 50%;
		background-color: #ffffff; 
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	}

	.companies-section .companies-partners .swiper-button-next:after ,
	.companies-section .companies-partners .swiper-button-prev:after {	
		color: #CC1582;
		font-size: 15px;
	}
	.companies-section .companies-colabs {
		justify-content: space-between;
	}

	.companies-section .companies-colabs img {
		opacity: 0.6;
		max-width: 120px;
		width: calc((100% - 140px) / 7);
	}

	.companies-section .swiper-container-3d .swiper-slide-shadow-left,
	.companies-section .swiper-container-3d .swiper-slide-shadow-right {
		background-image: none;
	}
}

@media(min-width: 1024px) {
	.companies-section .companies-partners {
		padding: 0 20px 30px;
	}

}