.datas-section .data-content {
	padding-top: 30px;
	text-align: center;
	background: #FFFFFF;
	border-radius: 15px;
	margin-bottom: 64px;
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.datas-section .data-content select {
	width: 100%;
	border: none;
	color: #624DA0;
	display: block;
	font-size: 14px;
	-moz-appearance: none;
	     appearance: none;
	padding: 8px 15px;
	font-weight: 900;
	border-radius: 5px;
	-webkit-appearance: none; 
	text-transform: uppercase;
	background-color: rgba(98, 77, 160, 0.09);
}

.datas-section .data-content .data-selector.mobile {
	position: relative;
	margin: 0 40px;
}

.datas-section .data-content .data-selector.mobile:after {
	top: 10px;
	right: 10px;
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	pointer-events: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../../images/down-arrow.svg');
}

.datas-section .data-content .data-selector.desktop {
	position: relative;
	margin: 0 16px;
}

.datas-section .data-content .data-selector.desktop .data-item {
	margin: 10px 0;
	padding: 10px 25px;
	color: #7A7A7A;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	text-align: left;
	line-height: 19px;
	text-transform: uppercase;
}

.datas-section .data-content .data-selector.desktop .data-item.selected {
	color: #624DA0;
	border-radius: 15px;
	background: rgba(98, 77, 160, 0.09);
}

.datas-section .data-content .image {
	width: 150px;
	height: 120px;
	rotate: -2deg;
	object-fit: contain;
	margin: 30px auto;
}

.datas-section .data-content .data-itens-wrapper .tab-selector {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0px 24px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: 1px solid #E8E8E8;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.datas-section .data-content .data-itens-wrapper .tab-selector p {
	cursor: pointer;
	padding: 8px 0;
}

.datas-section .data-content .data-itens-wrapper .tab-selector p {
	font-size: 14px;
	color: #C4C4C4;
	max-width: 105px;
	line-height: 19px;
	cursor: pointer;
	font-weight: 1000;
	position: relative;
	text-transform: uppercase;
}

.datas-section .data-content .data-itens-wrapper .tab-selector p:first-child {
	text-align: left;
}

.datas-section .data-content .data-itens-wrapper .tab-selector .tab-item.selected p {
	color: #CC1582;
}

.datas-section .data-content .data-itens-wrapper .tab-selector .tab-item.selected p:after {
	content : "";
	left    : 0;
	bottom  : -11px;
	width   : 70%; 
	position: absolute;
	border-bottom: 2px solid #CC1582;
}

.datas-section .data-content .data-itens-wrapper .tab-selector .tab-item.selected:first-child p:after {
	content : "";
	left    : 0;
	bottom  : 0px;
	width   : 70%; 
	position: absolute;
	border-bottom: 2px solid #CC1582;
}

.datas-section .data-content .data-itens-wrapper .data-item {
	z-index: 0;
	display: none;
	font-size: 14px;
	color: #000000;
	text-align: left;
	overflow-y: auto;
	max-height: 250px;
	line-height: 19px;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.datas-section .data-content .data-itens-wrapper .data-item::-webkit-scrollbar {
	width: 6px;
	height: 7px;
	border-radius: 10px;
	background-color: #f2f2f2;
}

.datas-section .data-content .data-itens-wrapper .data-item::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #7A7A7A;
}

.datas-section .data-content .data-itens-wrapper .data-item::-webkit-scrollbar-track {
	 -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.datas-section .data-content .data-itens-wrapper .data-item p {
	margin-bottom: 15px;
}

.datas-section .data-content .data-itens-wrapper .data-item p strong {
	font-weight: 900;
}

.datas-section .data-content .data-itens-wrapper .data-item ul {
	list-style: none;
	margin: 0 0 15px;
	line-height: 1.5;
	padding-left: 20px;
}

.datas-section .data-content .data-itens-wrapper .data-item ul li {
	margin-bottom: 10px;
}

.datas-section .data-content .data-itens-wrapper .data-item.selected {
	display: block;
}

.datas-section .data-content .data-item-wrapper {
	display: none;
	padding: 25px;
	background: #FCFCFC;
}

.datas-section .data-content .data-item-wrapper.selected {
	display: block;
}

.datas-section .data-see-more {
	color: #CC1582;
	font-size: 14px;
	line-height: 19px;
	display: block;
	text-align: center;
	padding: 10px 30px;
	margin-bottom: 80px;
	font-weight: 900;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-transform: uppercase;
	border: 1px solid #CC1582;
}

.datas-section .data-see-more:hover {
	color: #FFFFFF;
	background-color: #CC1582;
}

@media(min-width: 768px){
	.datas-section .data-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-top: 0;
	}	

	.datas-section .data-itens-wrapper {
		max-width: calc(100% - 252px);
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		border-left: 1px solid #E8E8E8;
	}

	.datas-section .data-content .data-itens-wrapper .tab-selector {
		border-top: none;
		border-right: none;
		border-left: none;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	.datas-section .data-content .data-itens-wrapper .tab-selector p {
		max-width: initial;
		padding: 8px 50px;
	}

	.datas-section .data-content .data-itens-wrapper .tab-selector p:hover {
		border-radius: 15px;
		background-color: #F6F6F6;
	}

	.datas-section .data-content .data-itens-wrapper .tab-selector .tab-item.selected p:after {
		bottom: 0px;
		left: 50px;
		width: calc(90% - 100px);
	}

	.datas-section .data-content .data-itens-wrapper .tab-selector .tab-item.selected:first-child p::after {
		left: 50px;
		width: calc(90% - 100px);
	}

	.datas-section .data-content .data-item-wrapper {
		padding: 30px 12px 30px 40px;
	}

	.datas-section .data-see-more {
		margin: 0 auto 80px;
		max-width: 400px;
	}
}

@media(min-width: 1024px){
	.datas-section .data-content .data-itens-wrapper .data-item {
		max-height: 380px;
	}
}