.home-hero {
	position: relative;
	margin-bottom: 30px;
	padding-top: 106px;
}

.home-hero-img-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-hero .home-hero-carousel {
	max-height: 380px;
	margin-bottom: 30px;
}

.home-hero .home-hero-carousel .amp-carousel-button{
	z-index: 3;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.home-hero .home-hero-carousel .amp-carousel-button-prev{
	left: 0;
	background: none;
}

.home-hero .home-hero-carousel .amp-carousel-button-prev:after{
	content: ' ';
	position: absolute;
	left: 0;
	width: 35px;
	height: 35px;
	background-size: contain;
	background-image: url('../../images/left-arrow-pink.svg');
}

.home-hero .home-hero-carousel .amp-carousel-button-next{
	right: 0;
	background: none;
}

.home-hero .home-hero-carousel .amp-carousel-button-next:after{
	content: ' ';
	position: absolute;
	right: 0;
	width: 35px;
	height: 35px;
	background-size: contain;
	background-image: url('../../images/right-arrow-pink.svg');
}

.home-hero .hero-background amp-img{
	-webkit-filter: brightness(0.4);
	        filter: brightness(0.4);
	z-index: -1;
}

.home-hero .hero-post-content{
	text-align: center;
	padding: 24px 40px 24px;
}

.home-hero .hero-post-content .hero-post-title{
	font-size: 30px;
	font-family: Bebas;
	color: #fff;
	margin-bottom: 20px;
	font-weight: normal;
}

.home-hero .hero-post-content .hero-post-excerpt{
	font-size: 16px;
	color: #fff;
	margin-bottom: 31px;
}

.home-hero .hero-post-content .hero-post-button{
	display: inline-block;
	font-size: 20px;
	font-family: Bebas;
	color: #333333;
	background-color: #ffe07d;
	padding: 8px 41px;
	border-radius: 2px;
}

.home-hero .home-categories-carousel .category-item {
	width: 200px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.home-hero .home-categories-carousel .category-item amp-img {
	z-index: -1;
	filter: brightness(.5);
}

.home-hero .home-categories-carousel .category-item amp-img > img {
	object-fit: cover;
}

.home-hero .home-categories-carousel .category-item p {
	font-family: "Bebas";
	text-align: center;
	color: #fff;
	font-size: 30px;
}

.home-hero .home-categories-carousel .amp-carousel-button{
	z-index: 3;
	display: flex;
	align-items: center;
	background: #000;
	height: 100%;
	cursor: pointer;
}

.home-hero .home-categories-carousel .amp-carousel-button-prev{
	left: 0;
	margin-left: 0;
	padding-left: 10px;
	background: linear-gradient(to left, #0000 , #000000eb);
}

.home-hero .home-categories-carousel .amp-carousel-button-prev:after{
	content: ' ';
	position: absolute;
	left: 10px;
	width: 25px;
	height: 25px;
	background-size: contain;
	background-image: url('../../images/left-arrow.svg');
}

.home-hero .home-categories-carousel .amp-carousel-button-next{
	right: 0;
	margin-right: 0;
	padding-right: 10px;
	background: linear-gradient(to right, #0000 , #000000eb);
}

.home-hero .home-categories-carousel .amp-carousel-button-next:after{
	content: ' ';
	position: absolute;
	right: 10px;
	width: 25px;
	height: 25px;
	background-size: contain;
	background-image: url('../../images/right-arrow.svg');
}


@media(max-width: 767px){
	.home-hero .home-categories-wrapper {
		margin: 0;
	}
	.home-hero .home-categories-wrapper .home-categories-carousel {
		max-height: 100px;
	}
}

@media(min-width: 768px){

	.home-hero .home-hero-carousel {
		max-height: initial;
		margin-bottom: 50px;
	}

	.home-hero .hero-post-content{
		padding-bottom: 60px;
	}

	.home-hero .hero-post-content .hero-post-title{
		font-size: 50px;
	}

	.home-hero .hero-post-content .hero-post-excerpt{
		font-size: 22px;
		color: #fff;
		margin-bottom: 31px;
	}
	.home-hero .home-categories-carousel .category-item-wrapper {
		width: calc((100% - 16px ) / 3);
		height: 150px;
	}
	.home-hero .home-categories-carousel .category-item {
		width: initial;
		height: 100%;
	}

}

@media(min-width: 1200px){
	
	.home-hero .hero-post-content{
		padding: 90px 0 90px;
		max-width: 750px;
		margin: 0 auto;
	}

	.home-hero .hero-post-content .hero-post-title{
		font-size: 65px;
		margin-bottom: 7px;
	}

	.home-hero .hero-post-content .hero-post-excerpt{
		margin-bottom: 53px;
	}

	.home-hero .home-hero-carousel .amp-carousel-button-prev{
		margin-left: calc(( 100vw - 1200px ) / 2);
	}

	.home-hero .home-hero-carousel .amp-carousel-button-next{
		margin-right: calc(( 100vw - 1200px ) / 2);
	}

}
