.partner-section .swiper-container {
	max-width: 500px;
	margin: 0 auto 60px;
 	padding-bottom: 270px;
}

.partner-section .swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  background: #fff
  padding: 10px;
  box-sizing: border-box;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.partner-section .swiper-slide img {
	width: 100%;
	object-fit: contain;
}

.partner-section .swiper-container-3d .swiper-slide-shadow-left,
.partner-section .swiper-container-3d .swiper-slide-shadow-right {
	background-image: none;
}

.partner-section .swiper-slide .slide-icon {
	padding: 30px;
	width: 120px;
	min-width: 120px;
	height: 120px;
	min-height: 120px;
	display: flex;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.partner-section .swiper-slide .swiper-slide-content {
	top: 90px;
	z-index: -1;
	opacity: 0;
	border-radius: 15px;
	max-width: 350px;
	position: absolute;
	box-sizing: border-box;
	padding: 60px 24px 24px;
	width: calc(100vw - 140px);
	transition: all cubic-bezier(.4,.2,.2,1) 0.1s;
}

.partner-section .swiper-slide.swiper-slide-active .swiper-slide-content {
	opacity: 1;
}

.partner-section .swiper-slide .swiper-slide-content .title {
	color: #CC1582;
	font-weight: 900;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.partner-section .swiper-slide .swiper-slide-content .description {
	color: #3C3C3C;
	margin: 0;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
}

.partner-section .swiper-container .swiper-button-next:after ,
.partner-section .swiper-container .swiper-button-prev:after {
	color: #7A7A7A;
	font-size: 20px;
}

.partner-section .partner-see-more {
	color: #FFFFFF;
	background-color: #CC1582;
	font-size: 14px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding: 9px 30px;
	max-width: 300px;
	margin: 0 auto 80px;
	font-weight: 900;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-transform: uppercase;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s;
}

.partner-section .partner-see-more:hover {
	background-color: #ad0f6d;
}

@media(max-width: 767px) {
	.partner-section .swiper-container-wrapper {
		margin: 0;
	}
	.partner-section .swiper-container:after {
		content: '';
		height: 310px;
		left: 70px;
		top: 70px;
		max-width: 360px;
		position: absolute;
		border-radius: 15px;
		width: calc(100vw - 145px);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
	}
}

@media(min-width: 768px) {
	.partner-section .swiper-container {
		padding: 0 30px;
		max-width: initial;
	}
	
	.partner-section .swiper-wrapper {
		display: flex;
		justify-content: space-between;
		max-width: initial;
	}

	.partner-section .swiper-container .swiper-slide {
		display: flex;
		height: initial;
		align-items: center;
		flex-direction: column;
		width: calc((100% - 60px) / 4);	
	}

	.partner-section .swiper-slide .swiper-slide-content {
		top: -35px;
		height: 100%;
		width: initial;
		opacity: initial;
		position: relative;
		border-radius: 15px;
		box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
	}
	.partner-section .swiper-container .swiper-button-prev {
		left: -7px;
	}
	.partner-section .swiper-container .swiper-button-next {
		right: -7px;
	}
	.partner-section .partner-section .partner-see-more {
		max-width: 400px;
		margin: 0 auto 120px;
	}
}

@media(min-width: 900px) {
	.partner-section .swiper-container {
		padding: 0;
	}
}

@media(min-width: 1300px) {
	.partner-section .swiper-container .swiper-slide {
		width: calc((100% - 160px) / 4);	
	}
	.partner-section .swiper-container .swiper-button-next:after ,
	.partner-section .swiper-container .swiper-button-prev:after {
		display: none;
	}
}
