.solutions-section .solutions-section-items {
	margin-bottom: 48px;
}

.solutions-section .solutions-see-more {
	color: #CC1582;
	font-size: 14px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding: 8px 30px;
	margin-bottom: 80px;
	font-weight: 900;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-transform: uppercase;
	border: 1px solid #CC1582;
	transition: background-color cubic-bezier(.4,.2,.2,1) 0.3s
}

.solutions-section .solutions-see-more:hover {
	color: #FFFFFF;
	background-color: #CC1582;
}

@media(min-width: 768px) {
	.solutions-section-items {
		display: flex;
		justify-content: space-between;
	}
	.solutions-section-items .solution-card {
		width: calc((100% /2 ) - 20px);
	}
	.solutions-section .solutions-see-more {
		margin: 0 auto 120px;
		max-width: 400px;
	}
}